/*===== 通用结构 ======*/
.body{
	width:100%;
	padding:0;
	margin:0;
	font-family: MicrosoftYaHei, SimSun;
	color:#333333;
}
.container{
	width:1200px;
	margin:0 auto;
	/*设置版心*/
	padding:0;
}
.main-content{
}
button, .btn{outline: none;}
.dt-leftbar.book-detail{
	height:2050px;
}

.result-detail-list dd {
	padding-right: 0;
}
p.abstract{
	width:785px;
	height:45px;
	overflow: hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
}
ul.basic-info {
	margin-top:10px;
	margin-bottom: 20px;
}
.result-detail-list dd:hover{
	background-color: white;
}
.related-info{
	padding-bottom: 20px;
}
.pic-list li{
	float:left;
    width: 96px;
    height: 94px;
    padding: 1px;
    text-align: center;
    line-height: 94px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-right: 20px;
}
.words-list .pic-list li{
	float:left;
    width: 96px;
    height: 94px;
    padding: 1px;
    text-align: center;
    line-height: 94px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-right: 20px;
}
/*===== end of 通用结构 ======*/
/*======= 相关资源 ========*/
.related-book-con, .other-book-con{
	position:absolute;
	top:37px;
	width:780px;
	background-color:#fff;
	z-index: 999999;
	padding: 20px;
    border: 1px solid #eeeeee;
    box-shadow: 2px 2px 2px 2px #eeeeee ;
    display:none;
}
.related-book-list li{
	float:left;
	padding-left:20px;
	padding-right:20px;
    margin-bottom:9px;
    margin-top:9px;
    vertical-align:top;
}
.related-book-list a{
	text-decoration:none;
	text-align:center;
	border:0px;
	line-height:33px;
}
.related-book-list span{
	display: block;
    width: 105px;
    height: 140px;
    overflow: hidden;
    background-color: #f0f0f0;
}
.related-book-list span img{
	transition: all 0.5s;
    -ms-transition:all 0.5s; /* IE 9 */
    -moz-transition:all 0.5s; /* Firefox */
    -webkit-transition:all 0.5s; /* Safari 和 Chrome */
    -o-transition:all 0.5s; /* Opera */
}
.related-book-list span:hover img{
	transform: scale(1.3);
     -ms-transform: scale(1.3);   
   -moz-transform: scale(1.3); 
   -webkit-transform: scale(1.3); 
   -o-transform: scale(1.3); 
}
.rbook-tit{
	float:left;
	font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #333333;}
.related-book-con .close-popup, .other-book-con .close-popup
    {float:right;width:20px; 
	height:20px;background:url("../images/close-popup.png") no-repeat center;
	border:0px;}
/*======= 书目栏目词列表 ========*/
ul.words-list li{
	width:100%;
	border-bottom: solid 1px #e2ecf1;
	padding:20px;
}
ul.words-list li:hover{
	/*background-color: #f8f8f8;*/
}
.words-list-title span,.words-list-title a {
	font-family: SimSun;
	font-size: 15px;
	line-height: 30px;
	font-weight:bold;
	color: #072958;
	margin-right:15px;
}
.words-list-title a:hover{color:#53a2e3; text-decoration:none;}
ul.words-list p{
	font-family: SimSun;
	font-size: 12px;
	line-height: 40px;
	color: #333333;
	height:40px;
}
.content-l .words-list-title span,
.content-l .words-list-title a{font-size:18px;}
.content-l ul.words-list p{font-size:16px;}
.content-s .words-list-title span,
.content-s .words-list-title a{font-size:12px;}
.content-s ul.words-list p{font-size:12px;}
/*===== 分页 ========*/
.pagination.msm li a{
	padding:5px 10px;
}
.pagination li{
	display:block;
	float:left;
	margin-right: 5px;
}
.pagination li:hover{
	background-color: 
}
.pagination li a span{
    color:#333333;
}
.pagination li a{
	color:#333333;
}
.page-sum{
	position:relative;
	top:20px;
	font-size:14px;
	float:left;
	line-height: 34px;
	margin-right: 20px;
	margin-left: 20px;
}
div.pn-container{
	width:540px;
	margin:0 auto;
}
/*===== section input ========*/
.dt-input{
	border:1px solid #ededed;
	line-height:26px;
	padding-left:5px;
	width:182px;
}
.dt-input.box-highlight{
	border: solid 1px #53a2e3;
    box-shadow: 0px 0px 3px 0px 
        #53a2e3;
}
/*=================== 语词库主要内容开始 =====================* /
/*======= 书目导览 start =========* /
/*info bar*/
.msm-header.yck{
	height:427px;
}
div.info-bar{
	height:45px;
	width:100%;
	border-bottom: 1px solid  #eeeeee;
}
div.intro{
	float:left;
	width: 241px;
	height: 39px;
	background-color: #e8f1fa;
	border: solid 1px #eeeeee;
	padding-left: 15px;
}
.intro span{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 39px;
	letter-spacing: 0px;
	color: #333333;
}
.result-count{
	float:right;
}
.result-count span{
	color: #999999;
	font-size: 13px;
	line-height: 39px;
}
.result-count em{
	color: #6e90ff;
	font-size: 13px;
	line-height: 39px;
}
div.show-more{
	float:right;
	margin-left: 22px;
}
div.show-more a{
	color: #999999;
	font-size: 13px;
	line-height: 39px;
}
/*书目展示*/
.book-nav{
	padding-top: 20px;
	height:778px;
}
div.left-menu{
	float:left;
	margin-top: 20px;
	border: solid 1px #dcdcdc;
	width: 241px;
	height: 540px;
	background-color: #f6f8fc;
}
.left-menu li{
	width:230px;
	height:40px;
	line-height: 40px;
}
.left-menu li a{
	text-decoration: none;
	line-height: 40px;
	padding-left: 20px;
	padding-top: 10px;
	font-family: MicrosoftYaHei;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 23px;
	letter-spacing: 0px;
	color: #333333;
}
.left-menu li.active, .left-menu li:hover{
	background-color: #f3f7fa;
}
/*.left-menu li a:hover{
	color:#6e90ff;
}
.left-menu li.active a{
	color:#6e90ff;
}*/
/* 左侧导航栏 */
.left-menu .panel-heading{
	background-color: #e8f1fa;
	border:0px;
	/*border: solid 1px #eeeeee;*/
}
.left-menu .panel-group .panel{
	margin-bottom: -5px;
	border:0px;
}
.left-menu .panel-group .panel-body{
	border:0px;
}
.control-icon{
	float:right;
}
a.control-icon{
	text-decoration: none;
	font-size: 18px;
}
#yck-menu .panel-body{
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}
/*======= 书目导览 end =========*/
/*=================== 语词库主要内容结束 =====================* /

/*=================== 语词库条目内容开始 =====================*/
/*===== 标题栏 =====*/
.dt-leftbar.yck{
	height:4600px;
}
.msm-banner.dt-page{
	height:333px;
}
ul.breadcrumb{
	background: none;
	margin-bottom: 0px;
}
ul.breadcrumb li a, ul.breadcrumb span{
	font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: bold;
	line-height: 23px;
	color: #293e6b;
}
ul.breadcrumb li.active{
	font-family: SimSun;
	font-size: 12px;
	font-weight: bold;
	line-height: 35px;
	letter-spacing: 0px;
	color: #fb6969;
}
/*===== 标题栏结束 =====*/
/*===== 左右分栏， 分栏标题 =====*/
/*left*/
/*left*/
.dt-leftbar{
	width:289px;
	/*height:100%;*/
	border: 1px solid #DCDCDC;
	background-color: #fbfbfb;
	float:left;
}
.dt-rightbar{
	width:911px;
	border-top:1px solid #DCDCDC; 
	/*border-right:1px solid #DCDCDC;*/
	float:left;
}
.dt-leftbar-title{
	width:100%;
	border-bottom:1px solid #DCDCDC;
	height:38px;
	line-height:38px;
	padding-left:15px;
}
.dt-leftbar-title{
	font-family: SimSun;
	font-size: 15px;
	font-weight: bold;
	line-height: 35px;
	background: url("../images/bg-dt-section.png") no-repeat;
	color: #2c3f6a;
}
/*right*/
.dt-rightbar-title{
	width:100%;
	border-bottom:1px solid #DCDCDC;
	height:38px;
	line-height:38px;
	padding-left:30px;
	padding-right:15px;
}
ul.actions{
	width: 220px;
}
ul.actions span:hover{
	color:#53a2e4;
}
ul.actions li{
	width:33%;
	line-height: 38px;
	cursor: pointer;
}
ul.actions img{
	width:16px;
	height:16px;
	margin-right: 10px;
	margin-top: -5px;
}
div.dt-search-bar{
	float:right;
}
ul.size-change{
	margin-left: 30px;
}
ul.size-change li{
	width:35px;
	text-align: center;
}
ul.size-change li a{
	font-family: SimSun;
	font-size: 12px;
	line-height: 35px;
	text-decoration: none;
	color: #6f6f6f;
}
ul.size-change li.active a{
	color:#53a2e4;
}
ul.size-change li a:hover{
	color:#53a2e4;
}
.dt-search-bar .search-input{
	width: 233px;
	height: 25px;
	padding-left: 10px;
	border: solid 1px #eeeeee;
}
.dt-search-bar .btn{
	width: 68px;
	height: 25px;
	background-color: #f3f7fa;
	font-family: SimSun;
	font-size: 12px;
	line-height: 12px;
	color: #2a3f6a;
	text-align:center;
	outline:none;
}
.dt-search-bar .btn:hover{
	background-color:#53a2e3;
	color:#fff;
}
/*right*/
.dt-rightbar-title{
	width:100%;
	border-bottom:1px solid #DCDCDC;
	height:38px;
	line-height:38px;
	padding-left:30px;
}
ul.actions{
	width: 220px;
}
ul.actions span:hover{
	color:#53a2e4;
}
ul.actions li{
	width:33%;
	line-height: 38px;
	cursor: pointer;
}
ul.actions img{
	width:16px;
	height:16px;
	margin-right: 10px;
	margin-top: -5px;
}
div.dt-search-bar{
	float:right;
}
ul.size-change{
	margin-left: 30px;
}
ul.size-change li{
	width:35px;
	text-align: center;
}
ul.size-change li a{
	font-family: SimSun;
	font-size: 12px;
	line-height: 35px;
	text-decoration: none;
	color: #6f6f6f;
}
ul.size-change li.on a{
	color:#53a2e4;
}
ul.size-change li a:hover{
	color:#53a2e4;
}
.dt-search-bar .search-input{
	width: 233px;
	height: 25px;
	padding-left: 10px;
	border: solid 1px #eeeeee;
}
.dt-search-bar .btn{
	width: 68px;
	height: 26px;
	background-color: #f3f7fa;
	font-family: SimSun;
	font-size: 12px;
	line-height: 12px;
	color: #2a3f6a;
	text-align:center;
	outline:none;
}
/*===== 左右分栏， 分栏标题 end =====*/
/*==== 左侧边栏 start=====*/
.dt-book-title{
	margin-top:30px;
	width:100%;
	font-family: SimSun;
	font-size: 15px;
	line-height: 35px;
	color: #cc0000;
	font-weight:bold;
	margin-left: 15px;
}
.dt-book-navbar{
	width:100%;
	margin-top: 30px;
}
.dt-book-navbar .panel{
	background: none;
	border:0;
}
a.toggle-btn{
	display:inline-block;
	width: 15px;
	height:15px;
	line-height: 15px;
	font-size:15px;
	border:1px solid #333333;
	text-align: center;
	vertical-align: center;
	text-decoration: none;
}
ul.dt-chapters{
	float:right;
	margin-right:210px;
}
ul.dt-chapters a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color:#2a3f6a;
	font-weight: bold;
}
.dt-book-navbar div.panel-heading{
	line-height:18px;
	border:0;
}
.dt-book-navbar div.panel-body{
	/*max-height:200px;*/
	/*overflow-y:scroll;*/
	overflow-x: hidden;
	border:0;
}
ul.nav-sections li{
	display: block;
	position: relative;
	width:100%;
	line-height: 40px;
	padding-left: 28px;
	cursor: pointer;
}
ul.nav-sections li a{
	text-decoration: none;
	font-family: SimSun;
	font-size: 14px;
	line-height:40px;
	letter-spacing: 0px;
	color: #2a3f6a;
}
ul.nav-sections li.active{
	background-color: #f3f7fa;
}
ul.nav-sections li:hover{
	background-color: #f3f7fa;
}
ul.nav-sections li.active a,
ul.nav-sections li:hover a {
	font-weight: bold;
}
ul.dt-chapters li.active a{
	font-size: 20px;
}
/*==== 左侧边栏 end=====*/

/*==== right侧边栏 start=====*/
#word-intro{
	padding-bottom: 22px;
}
div.dt-container{
	padding-left: 30px;
	padding-right: 15px;
}
div.dt-section-title{
	padding-left: 30px;
	padding-right: 15px;
	width: 890px;
	height: 41px;
	background-color: #f3f7fa;
}
/*==== right侧边栏 end=====*/
/*=================== 语词库条目内容结束 =====================*/

/*========= rst-header ==========*/

body > div.rst-header > div.top-bar{
	width:100%;
	height:37px;
	background-color: #e9e9e7;
}
.top-bar li a{
    color: #333333;
    text-decoration: none;
    font-family:MicrosoftYaHei;
    font-size: 12px;
}
.top-bar li a:hover{
	color:#53a2e3;
}
div.left-bar ul li{
	float:left;
	width:80px;
	line-height:36px;
	text-align:center;
}
.adv-search-btn{
	float:left;
}
.head-right ul li{
    line-height:30px;
    width:67px;
}
.head-right .navbar-nav{
	margin-top:4px;
}
ul li.login{
	width:115px;
}
.down-icon{
	width:8px;
	height:5px;
	display:inline-block;
	background:url("../images/downicon.png") no-repeat;
	vertical-align:middle;
	margin-left:8px;
	margin-top:-2px;
}
.login-btn i{
	padding:3px 10px;
	background-color:#cddcdd;
}
.login-btn:hover i{
	color:#fff;
	background-color:#53a2e3;
}

/*banner*/
.banner-sm{
	/*height:100px;*/
	padding-top:14px;
	padding-bottom:10px;
	background: url("../images/banner-bg2.jpg") no-repeat;
	background-size: 100% 100%;
}
/* change search bar */
/*banner*/
.banner-sm{
	/*height:100px;*/
	padding-top:14px;
	padding-bottom:10px;
	background: url("../images/banner-bg2.jpg") no-repeat;
	background-size: 100% 100%;
}
/* change search bar */
#type{
	height:43px;
	line-height:45px;
	width:108px;
	padding-left:20px;
	border-left:1px solid #e6e6e6;
	border-top:0px;
	border-bottom:0px;
	border-right:1px solid #e6e6e6;
}
.searchmain .input-box{
	width:595px;
	height:45px;
	box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}
.searchmain .search-input {
	width:363px;
	font-size:12px;
}
.searchmain .search-input{
	/*padding: 0;*/
	line-height:40px;
	padding-left: 20px;
	height:43px;
}
.searchmain .search-btn{
	height:40px;
	line-height: 40px;
}
.banner-sm .container img{
	/*width:228px;*/
	float:left;
	margin-top:12px;
}
.searchmain .sort{
	margin-top:9px;
}
.searchmain .sort span{
	color:#333333;
}
.search-form{
	margin-left: 11px;
	margin-top:9px;
	margin-bottom:6px;
}
#type span{
	line-height: 45px;
	margin-right: 9px;
}
#search-type .sort-icon {
	line-height: 45px;
	font-size:12px;
}
.sort-list li{
	height:30px;
	line-height:30px;
}
.searchmain .btn-wildcard {
	margin-top: 11px;
	vertical-align: center;
	height:21px;
	padding-top: 1px;
	text-decoration:none;
}
.searchmain .sort-default{

}
.sort-default .sort-icon{
	line-height:27px;
}
div.adv-group{
	display: inline-block;
    float:right;
    margin-left:4px;
}
a.adv-search-btn{
	margin-top:4px;
}
a.adv-search-btn.top{
	margin-top:-1px;
}
#drop-nav.active{
	color: #53a2e3;
}
.search-nav{
	padding-left:307px;
	display:none;
}
#search{
	background:url("../images/btn-search.png") no-repeat center;
	background-position: -2px 0px;
	width:44px;
	height:45px; 
	box-shadow: 0px 0px 3px 0px 
		rgba(31, 30, 30, 0.09);
	border:1px solid #e9e9e9;
	outline: none;
	box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}
#search:hover{
	background-position: -48px 0px;
}

#gaoji, #search-in-result{
	height:45px;
	box-shadow: 0px 0px 3px 0px 
		rgba(31, 30, 30, 0.09);
	border:1px solid #e9e9e9;
	outline: none;
	background-color:#efefef;
	color:#000;
	padding:2px 3px;
	font-family:MicrosoftYaHei; 
	font-size:13px;
	margin-right:3px;
	box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}
#gaoji:hover, #search-in-result:hover{
	background-color:#0c5de4;
	border:1px solid #0c5de4;
	color:#fff;
}
/* finish change search bar */
/*========= rst-header end ==========*/