@charset "utf-8";
/*--结构--*/
.body{
    width:100%;
}
.main-content{
    background: url("../images/index-bjone.png") no-repeat top;
    width:100%;
}
.header{
    height: 461px;
    background-color:#f5f7fa;
}
.content-container{
    margin:0 auto;
    /*版心*/
    width:1200px;
}
.section{
    width:100%;
}
.section-ep{
    padding-bottom:53px;
    background:url("../images/index-bjtwo.png") no-repeat bottom;
}
.searchmain{position:relative;}
.searchmain .drop-box{
    position:absolute;
    top:86px;
}
/*======通用部分=====*/
ul.navbar-nav{
    list-style-type:none; 
}
.section-title{
    text-align: center;
}
.section-title span{
    width: 75px;
    height: 18px;
    font-family: MicrosoftYaHei;
    font-size: 20px;
    line-height: 36px;
    font-weight:bold;
    color: #333333;
}
.section-title .eng{
    width: 187px;
    height: 15px;
    font-family: Helvetica;
    font-size:20px;
    line-height: 36px;
    font-weight:normal;
    color: #999999;
}
/*============== header start ==============*/
div.header.section > div.content-container{
   width:1270px;
   padding-left:45px;
   position:relative;
}
.hp-decor1{
    position:absolute;
    z-index:0; 
    left:750px; 
}
/* top menu bar*/
.head-left img{
    width: 131px;
    height: 45px;
    float:left;
    margin-right:25px;
    margin-top:3px;
}
.head-left ul.nav{
    height:45px;
}
.top-menu{
    height:50px;
    padding-top:10px;
    z-index:1; 
}
.head-left ul li{
    margin-right:26px;
    line-height:28px;
     list-style-type:none;
    margin-top:16px;
}
.head-left ul li a {
    color:#333333;
    text-decoration: none;
    font-family: MicrosoftYaHei, SimSun;
    font-size: 12px;
}
.head-left ul li a:hover{color:#53a2e3;}
.head-right{
    float:right;
    padding-top:12px;
}
.head-right ul{
    margin-right: 70px;
}
.head-right ul li{
    list-style-type:none;
    line-height:28px;
    margin-top: 0px;
}
.head-right ul li a {
    color: #242424;
    margin-right:10px;
    padding-left: 13px;
    text-decoration: none;
    font-family:SimSun; 
    font-size:12px;
}
.head-right ul li a:hover{color:#53a2e3;}
i.down-icon{
    display:inline-block;
    width:15px;
    height:11px;
    margin-right: 8px;
    margin-left: -5px;
    background: url("../images/downiconh.png") no-repeat center;
}
div.divider{
    display: inline-block;
    width:1px;
    background-color:  #242424;
    height:16px;
    position:relative;
    top:3px;
}
/* end of top menu bar */
.banner{
    display:block;
    width:800px;
    float:left;
    margin-top:83px;
}
.banner img{
    height:76px;
    width:457px;
    margin-bottom:37px;
}
/*检索框*/
#type{
    width:84px;
    height:49px;
    border-right:1px solid #e6e6e6;
    border-top:0px;
    border-left:0px;
    border-bottom:0px;
    line-height:49px;
}
.sort .sort-icon{
    font-size:12px;
}
#type span{
    margin-right:10px;
    font-family: SimSun;
    font-size: 12px;
    padding-left:12px;
    color:#7d7d7d;
}
.searchmain{padding:0 !important;}
.search-box{
    float:left;
    background-color: #fff;
    box-shadow: 0px 5px 20px 1px 
        rgba(229, 229, 229, 0.75);
    border: solid 1px #e6e6e6;
    height:50px;
}
.searchmain .input-box{width:445px; height:49px; background-color: #fff; 
border:0px;
}
.searchmain .search-input {padding: 4px 10px; font-size: 14px; color: #7d7d7d; line-height:40px; vertical-align: bottom; border: none; background-color: #fff;
    width:320px;
}

.searchmain .btn-wildcard{ height:20px; margin-right: 3px; line-height: 20px; border: 1px solid #a1a5a8; 
padding:0px;text-decoration:none; margin-top:15px;}
.searchmain .btn-wildcard:active{ border: 1px solid #a1a5a8; }
.searchmain .search-btn { width:117px; height:50px; line-height:50px; font-size:20px;}
.searchmain .search-btn:hover{background-color:#53a2e3;}
.searchmain .sort{ margin-top: 10px; }
.searchmain .sort-default{ background-color: #fff; }
.searchmain .sort span{ width: 36px; }
.input-box .sort-default{margin-top:1px; color:#7d7d7d;}
/*输入助手*/
.search-nav { width: 980px; float:left; margin-left: 20px;}
.search-nav .title, .search-nav .nav-bar a{text-decoration:none;color:#6f6f6f;}
.search-nav a:hover{color:orange;}
.search-nav li{
    background:url("../images/downiconh.png") no-repeat right;
}
.search-nav ul{
    margin-top: 10px;
}
.search-nav span, .search-nav a{color:#6f6f6f;}
.drop-box { position:relative; z-index: 999; }
.homepage .drop-box .unit{ height: 330px; overflow-y: auto; overflow-x:hidden; }
/* ====home page book====*/
button.label{
    width: 9px;
    height: 40px;
}
.hp-book{
    height: 500px;
    background: url("../images/hp-book.png") no-repeat;
    background-position: 463px -25px;
}
.hp-book .tab-content{
    float:left;
    width:287px;
    height:380px;
    padding:100px 25px 180px 22px;
    margin-left:36px;
}
.btn-vertical {
    float:left;
    margin-top:65px;
    width:10px;
}
.btn-vertical span{
    position:relative;
    color:white;
    float:left;
    top:-40px;
}
.btn-vertical a{
    height:40px;
    margin-left:-2px;
}
#labels li {
    width:20px;
}
#labels li span{
    visibility: hidden;
}
#labels li.active span{
    visibility: visible;
}
#labels li.active img{
    height:58px;
    width:20px;
    margin-top: -15px;
}
.btn-vertical img:hover{
    width:20px;
}
.btn-vertical img{
    height:58px;
    width:10px;
    margin-top: -15px;
    transition: margin-right width 0.2s;
    -webkit-transition:margin-right width 0.2s; /* Safari */
}
#label-content span{
    color: #ffffff;
    font-family: MicrosoftYaHei;
}
#label-content p{
    color: #ffffff;
    font-family: MicrosoftYaHei;
}
span.hp-title{   
    display:block;
    font-size:22px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    margin:0 auto;
    width:130px;
}
#label-content span.num{
    font-size:25px;
    font-weight: bold;
    margin-right:9px; 
    color:;
}
span.des{
    font-size:16px;
}
#label-content ul{
    margin-top: 25px;
    line-height:36px;
    padding-left:27px;
}
#label-content li{
    line-height:33px;
    margin-bottom: 10px;
}
span.hp-sub{
    font-size: 16px;
    font-weight:bold;
    line-height: 36px;
    color: #ffffff;
}
#label-content p{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    line-height:28px;
    color: #ffffff;
}
#zk ul li img{
    margin-right: 25px;
    margin-top:-7px;
}
/* ==== end of home page book====*/

/*============== header end ==============*/
/*====== 资源 section start ======*/
.section-ir .section-title{
    margin-top: 35px;
}
.section-ir{
    padding-top:95px;
    position:relative;
}
.ir-container{
    width:1200px;
    margin:0 auto;
}
#ir-title{
    position:absolute;
    top:0px;
    left:50%;
    transform: translateX(-50%);
}
.lib-intro{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}
div.ir-box{
    float:left;
    width:270px;
    height:382px;
    position:relative;
}
.ir-box.left{margin-right: 33px;}
.ir-container{
    padding-top:80px;
}
div.ir-body{
    width: 267px;
    height: 342px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px 
        rgba(147, 149, 152, 0.18);
    border-radius: 5px;
    border: solid 1px #eeeeee;
   /* opacity: 0.67;*/
   z-index:1; 
   padding-top:52px;
   padding-left: 26px;
   padding-right: 26px;
}
.ir-icon{
    position:absolute;
    top:-35px;
    left:96px;
    z-index:3; 
    
}
.ir-icon img{
    width:75px;
    height:75px;
}
.ir-body .ir-sub{
    text-align: center;
    margin-bottom:9px;
}
.ir-body .ir-sub a:hover{color:orange;}
.ir-body .ir-sub a{
    font-family: AdobeHeitiStd-Regular;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    color:#62a4f6;
}
#ir-sub1 a{color:#6e90ff;}
#ir-sub2 a{color:#5997e5;}
#ir-sub3 a{color:#68d8ef;}
#ir-sub4 a{color:#5db5fd;}
p.intro{
    width:100%;
    height: 93px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    line-height: 23px;
    color: #666666;
    overflow:hidden;
    text-overflow: ellipsis;
}
div.ir-sub2{
    text-align:center;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666666;
    line-height: 36px;
    border-bottom: 1px solid #eeeeee;
    margin-top: 15px;
}
.ir-body ul{
    margin-top: 10px;
}
.ir-body ul li{
    font-family: AdobeHeitiStd-Regular;
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height:24px;
}
.ir-body table{
    margin-top: 16px;
    font-family: AdobeHeitiStd-Regular;
    font-size: 14px;
    color: #333333;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
.ir-body table td{width:116px;height:24px;}
.ir-body a{text-decoration: none;}
div.highlighter{
    width: 44px;
    height: 2px;
    border-radius: 1px;
    margin:-1px auto;
}
#hl1{background-color: #6e90ff}
#hl2{background-color: #5997e5}
#hl3{background-color: #68d8ef}
#hl4{background-color: #5db5fd}
/*====== 资源 section end ======*/
/*====== 独家合作 section start ======*/
.ep-container{
    width:1200px;
    margin:0 auto;
    padding-top:39px;
    height:990px;
}
.ep-container a{text-decoration:none;}
#ep-content{
    width: 1200px;
    background-color:#f7fbfc;
    padding-bottom: 22px;
    height:900px;
}
div.ep-tabs{
    border-bottom:1px solid  #e5e5e5;
}
#ul-tab1 li{
   padding:0px 12px 0px 12px;
   line-height:40px;
   height:47px;
   text-align: center;
   margin-right: 24px;
}
#ul-tab1 li.active, #ul-tab1 li:hover{
    border-bottom: 2px solid #1b1b1b;
}
#ul-tab1 li a{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color:#666666;
}
#ul-tab1 li a:hover, #ul-tab1 li.active a{
   color: #333333;
   font-weight:bold;
}
#ul-tab1{
    margin-left:20px;
}
a.go-left{
    float:left;
    line-height: 46px;
    font-size: 18px;
}
a.go-right{
    float:right;
     line-height: 46px;
     font-size: 18px;
}
#cooperate{
    width: 878px;
    height: 172px;
    background: url("../images/cooperate.png");
    position:absolute;
}
/*展示书籍*/
#ep-content{
    position:relative;
}
.ep-row1{
    height:365px;
    position:relative;
    top:69px;
}
.ep-row2{
    height:365px;
    position:relative;
    top:135px;
}
.ep-intro{
    width: 267px;
    height: 365px;
    float:left;
    margin-left: 14px;
    margin-right: 14px;
    padding-top:20px; 
    padding-left:20px;
    padding-right:20px;
}
.ep-box{
    width: 267px;
    height: 365px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px 
        rgba(147, 149, 152, 0.18);
    border-radius: 5px;
    border: solid 1px #eeeeee;
    float:left;
    margin-left: 14px;
    margin-right: 14px;
    padding-top:20px; 
    padding-left:20px;
    padding-right:20px;
}
.ep-intro span{
    font-family: MicrosoftYaHei;
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
    color: #333333;
}
.ep-intro p{
    width: 217px;
    height: 229px;
    font-family: MicrosoftYaHei;
    font-size: 13px;
    line-height: 36px;
    color: #333333;
    margin-top: 15px;
}
.ep-box .count{
    font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 24px;
    font-weight:bold;
}
.title{
    margin-top: 10px;
}
.title a{
    color:#333333;
    font-size: 15px;
    /*font-weight: bold;*/
    font-family:MicrosoftYaHei; 
}
.title a:hover{color:#53a2e3;}
.author{
    margin-top: 5px;
    color:#999999;
    font-size: 12px;
}
.book img{
    width: 153px;
    height: 210px;
    margin-top:28px;
}
.ep-box img{
    transition: all 0.2s;
    -ms-transition:all 0.2s; /* IE 9 */
    -moz-transition:all 0.2s; /* Firefox */
    -webkit-transition:all 0.2s; /* Safari 和 Chrome */
    -o-transition:all 0.2s; /* Opera */
}
.ep-box img:hover{
    box-shadow: 5px 5px 5px 5px  #eeeeee;
    transform: scale(1.08);
     -ms-transform: scale(1.08);   
   -moz-transform: scale(1.08); 
   -webkit-transform: scale(1.08); 
   -o-transform: scale(1.08); 
}
.box1 .count{
    color:#84e1c0;
}
.box2 .count{
    color:#84e1c0;
}
.box3 .count{
    color:#7f83f3;
}
.box4 .count{
    color:#be55ac;
}
.box5 .count{
    color:#e3a25d;
}
.box6 .count{
    color:#aa9626;
}
.box7 .count{
    color:#5a5dcc;
}
div.book-intro{
    width:163px;
    position:relative;
    background-color:grey;
    opacity:0.9;
    top:-35px;
    left:-3px;
    display:none;
    color:white;
    text-align: center;
}
/*====== 独家合作 section end ======*/å