/*===== 通用结构 ======*/
.body{
	width:100%;
	padding:0;
	margin:0;
	font-family: MicrosoftYaHei, SimSun，sans-serif;
	color:#333333;
}
.container{
	width:1200px;
	margin:0 auto;
	/*设置版心*/
	padding:0;
}
.main-content{
	/*padding-bottom: 45px;*/
}
a.btn-wildcard{text-decoration:none;}
button, .btn{outline: none;}
a.adv-search-btn{
	margin-top: 2px;
}
a.adv-search-btn.top{
	margin-top: 4px;
}
/* 相关解释 section*/
.result-detail-list dd {
	padding-right: 0;
}
p.abstract{
	width:785px;
	height:45px;
	overflow: hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
}
ul.basic-info {
	margin-top:10px;
	margin-bottom: 20px;
}
.result-detail-list dd:hover{
	background-color: white;
}
.related-info{
	padding-bottom: 20px;
}
.pic-list li{
	float:left;
    width: 96px;
    height: 94px;
    padding: 1px;
    text-align: center;
    line-height: 94px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-right: 20px;
}
.words-list .pic-list li{
	float:left;
    width: 96px;
    height: 94px;
    padding: 1px;
    text-align: center;
    line-height: 94px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-right: 20px;
}
/*===== end of 通用结构 ======*/
/*======= 书目栏目词列表 ========*/
ul.words-list li{
	width:100%;
	border-bottom: solid 1px #e2ecf1;
	padding:20px;
}
ul.words-list li:hover{
	/*background-color: #f8f8f8;*/
}
.words-list-title span{
	font-family: SimSun;
	font-size: 14px;
	line-height: 30px;
	color: #072958;
	margin-right:15px;
}
ul.words-list p{
	font-family: SimSun;
	font-size: 12px;
	line-height: 40px;
	color: #333333;
	height:40px;
}
/*===== 分页 ========*/
.pagination.msm li a{
	padding:5px 10px;
}
.pagination li{
	display:block;
	float:left;
	margin-right: 5px;
}
.pagination li:hover{
	background-color: 
}
.pagination li a span{
    color:#333333;
}
.pagination li a{
	color:#333333;
}
.page-sum{
	position:relative;
	top:20px;
	font-size:14px;
	float:left;
	line-height: 34px;
	margin-right: 20px;
	margin-left: 20px;
}
div.pn-container{
	width:600px;
	margin:0 auto;
}
/*===== section input ========*/
.dt-input{
	border:1px solid #ededed;
	line-height:26px;
	padding-left:5px;
	width:233px;
}
/*======= 语词库 header start =========*/
.msm-topbar{
	height:37px;
	background-color:#e9e9e7;
}
.topbar-left ul li{
	width:80px;
	text-align: center;
	line-height: 36px;
}
.topbar-left ul li a,.topbar-right ul li a {
	color:#333333;
	font-family:MicrosoftYaHei;
    font-size: 12px;
}
.topbar-left ul li a:hover,.topbar-right ul li a:hover {
	text-decoration:none;
	color:#53a2e3;
}
.topbar-right ul li{
	width:80px;
	text-align: center;
	line-height: 36px;
}
ul li.login{
	width:100px;
	margin-right: 10px;
}
.down-icon{
	width:8px;
	height:5px;
	display:inline-block;
	background:url("../images/downicon.png") no-repeat;
	vertical-align:middle;
	margin-left:8px;
	margin-top:-2px;
}
.login-btn i{
	padding:3px 10px;
	background-color:#cddcdd;
}
.login-btn:hover i{
	color:#fff;
	background-color:#53a2e3;
}
/* banner 部分*/
.msm-banner{
	width:100%;
	height:400px;
	background:url("../images/yck_banner.jpg") no-repeat;
	background-size: 100% 261px;
}
.msm-banner .container{
	padding-top:33px;
	/*height:100%;*/
}
.msm-tit{
	height:121px;
	width: 325px;
	margin: 0 auto;
}
.msm-tit.yck-tit{
	background: url("../images/yck-tit.png") no-repeat center;
}
.msm-tit.hyk-tit{
	background: url("../images/hyk-tit.png") no-repeat center;
}
.msm-tit.jsk-tit{
	background: url("../images/jsk-tit.png") no-repeat center;
}
.msm-tit.flk-tit{
	background: url("../images/flk-tit.png") no-repeat center;
}
.yck-search-box{
	margin-top:22px;
	width: 1200px;
	height: 121px;
	background-color:#ffffff; 
	padding-left:70px;
	padding-right:60px;
	padding-top:34px;
	box-shadow: 0px 5px 5px 0px 
		rgba(243, 243, 243, 0.75);
}
/*改变搜索栏样式*/
#type{
	height:38px;
	width:113px;
	padding-left: 21px;
}
#type span,i{
	line-height:36px;
}
#type span{
	margin-right: 10px;
	font-family: SimSun;
    font-size: 12px;
    color: #7d7d7d;
}
.input-box .sort-default {
    margin-top: -3px;
    color: #7d7d7d;
}
#first{
	line-height: 20px;
	margin-top: 7px;
}
.searchmain .input-box{
	width:725px;
	height:38px;
}
.searchmain .search-input{
	height:36px;
	width:575px;
}
.sort-icon{
	line-height:22px;
}
.sort-default{
	height:26px;
	line-height:22px;
}
.searchmain .btn-wildcard{
	width: 30px;
	height: 28px;
	background-color: #f4f4f4;
	margin-top: 4px;
	padding-top: 6px;
	border:0px;
}
.searchmain .search-btn{
	height:38px;
	line-height:38px;
}
.searchmain .search-btn:hover{
	background-color: #53a2e3;
}
div.adv-group{
	display: inline-block;
	float:left;
	width:;
	margin-left: 7px;
	margin-top: -8px;
}
.search-nav{
	margin-left: 33px;
}
.search-nav .title, .search-nav .nav-bar a {
    text-decoration: none;
    color: #6f6f6f;
}
.search-nav .nav-bar a:hover{
	color:orange;
}
/*推荐*/
div.recomm{
	width:100%;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 35px;
}
.recomm ul span{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36px;
	color: #333333;
}
li.rec1{
	width: 247px;
	height: 41px;
	border-radius: 5px;
	border: solid 1px #dcdcdc;
	margin-left: 60px;
	margin-right: 60px;
	padding-left: 36px;
	background: url("../images/rec1.png") no-repeat left;
	background-size: 26px 24px;
	background-position: 4px 8px;
}
li.rec2{
	width: 272px;
	height: 41px;
	border-radius: 5px;
	border: solid 1px #dcdcdc;
	margin-right: 60px;
	padding-left: 45px;
	background: url("../images/rec2.png") no-repeat left;
}
li.rec3{
	width: 212px;
	height: 41px;
	border-radius: 5px;
	border: solid 1px #dcdcdc;
	padding-left: 45px;
	background: url("../images/rec3.png") no-repeat left;
	background-position: 6px 4px;
}
.recomm ul li a{
	line-height: 41px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #333333;
	text-decoration:none;
}
.recomm ul li:hover{
	border:solid 1px #53a2e3;
}
/*======= 语词库 header end =========* /

/*=================== 语词库主要内容开始 =====================* /
/*======= 书目导览 start =========* /
/*info bar*/
.msm-header.yck{
	height:427px;
}
div.info-bar{
	height:45px;
	width:100%;
	border-bottom: 1px solid  #eeeeee;
}
div.intro{
	float:left;
	width: 241px;
	height: 39px;
	background-color: #e8f1fa;
	border: solid 1px #eeeeee;
	padding-left: 15px;
	margin-top: 5px;
}
.intro span{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 39px;
	letter-spacing: 0px;
	color: #333333;
}
.result-count{
	float:right;
	margin-top:18px;
	line-height: 24px;
}
.result-count span{
	color: #999999;
	font-size: 13px;
}
.result-count em{
	color: #6e90ff;
	font-size: 13px;
}
div.show-more{
	float:right;
	margin-left: 22px;
	margin-top:18px;
	line-height: 24px;
}
div.show-more a{
	color: #999999;
	font-size: 13px;
	text-decoration:none;
}
div.show-more a:hover{color:#53a2e3;}
/*书目展示*/
.book-nav{
	padding-top:15px;
	padding-bottom:75px;
	/*height:778px;*/
}
div.left-menu{
	float:left;
	margin-top: 20px;
	border: solid 1px #dcdcdc;
	width: 241px;
	height:572px;
	background-color: #f6f8fc;
}
.left-menu li{
	width:230px;
	height:40px;
	line-height: 40px;
}
.left-menu li a{
	text-decoration: none;
	line-height: 40px;
	padding-left: 20px;
	padding-top: 10px;
	font-family: MicrosoftYaHei;
	font-size:12px;
	line-height: 23px;
	color: #333333;
}
.left-menu li.active, .left-menu li:hover{
	background-color: #f3f7fa;
}
/*.left-menu li a:hover{
	color:#6e90ff;
}
.left-menu li.active a{
	color:#6e90ff;
}*/
div.book-sec{
	float:right;
	width:935px;
	height:300px;
	margin-top: 20px;
}
table.books-yck{
	width:935px;
	height:551px;
}
table.books-yck tr{
	width:100%;
	height:50%;
}
table.books-yck td{
	width:33%;
	height:275px;
}
div.booksec-box{
	position:relative;
	width:100%;
	height:100%;
	padding-left:15px;
	padding-right:15px;
}
div.booksec-box.top{
	padding-bottom: 46px;
}
div.booksec-box img{
	margin-bottom: 15px;
	margin-right: 22px;
	width: 118px;
	height: 166px;
	float:left;
	background-color: #eeeeee;
	box-shadow: 0px 3px 10px 0px 
		rgba(202, 202, 202, 0.59);
}
div.booksec-box img{
	transition: all 0.3s;
    -ms-transition:all 0.3s; /* IE 9 */
    -moz-transition:all 0.3s; /* Firefox */
    -webkit-transition:all 0.3s; /* Safari 和 Chrome */
    -o-transition:all 0.3s; /* Opera */
}
div.booksec-box img:hover{
	box-shadow: 2px 2px 2px 2px  #eeeeee;
    transform: scale(1.15);
    -ms-transform: scale(1.15);   
   -moz-transform: scale(1.15); 
   -webkit-transform: scale(1.15); 
   -o-transform: scale(1.15); 
}
div.book-annotation{
	position:absolute;
	width:135px;
	height:26px;
	background-color:grey;
	opacity:0.9;
	filter:alpha(opacity=90);  /*filter 过滤器   兼容IE678*/
	top:145px;
	left:7px;
	color:white;
	font-size: 15px;
	text-align:center; 
	display: none;
}
div.details{
	float:left;
	margin-top: 12px;
}
div.details span{
	font-family:MicrosoftYaHei;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	line-height:36px;
}
div.details p{
	margin-top:6px;
	font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #333333;
	line-height: 23px;
	margin-bottom: 14px;
}
div.details a{
	color:#6e90ff;
	width: 73px;
	font-size: 12px;
	line-height: 26px;
	border: solid 1px #6e90ff;
	padding:5px 3px 5px 3px;
	text-decoration:none;
}
div.details a:hover{font-weight:bold; background-color:#6e90ff;color:#fff;}
p.intro{
	clear:both;
}
h5{
	font-family: MicrosoftYaHei;
	font-size: 13px;
	font-weight: bold;
	line-height: 23px;
	color: #333333;
	margin-bottom:9px;
}
h5+span{
	font-family: MicrosoftYaHei;
	font-size: 12px;
	line-height: 24px;
	color: #666666;
	overflow: hidden;
}
/* 左侧导航栏 */
.left-menu .panel-heading{
	background-color: #e8f1fa;
	border:0px;
	/*border: solid 1px #eeeeee;*/
}
.left-menu .panel-group .panel{
	margin-bottom: -5px;
	border:0px;
}
.left-menu .panel-group .panel-body{
	border:0px;
}
.control-icon{
	float:right;
}
a.control-icon{
	text-decoration: none;
	font-size: 18px;
}
#yck-menu .panel-body{
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
}
/*======= 书目导览 end =========*/
/*======= 内容挖掘部分 start =========*/
.dive-in{
	padding-bottom: 52px;
}
div.section-menu{
	width:100%;
	padding:0 15px 0 15px;
	height:39px;
	border-bottom: 2px solid #eff4fe;
}
.section-menu .tab{
	float:left;
	width: 112px;
	height: 39px;
	background-color: #f7f9fb;
	border: solid 1px #eeeeee;
	line-height: 39px;
	text-align: center;
}
#section-tab li{
	line-height: 36px;
	width:100px;
	text-align: center;
	margin-left: 20px;
}
#section-tab li a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 36px;
	letter-spacing: 0px;
	color: #333333;
	text-decoration: none;
}
#section-tab li:hover{
	border-bottom: 3px solid #6e90ff;
}
#section-tab li.cur{
	border-bottom: 3px solid #6e90ff;
}
.di-con{
	display:none;
}
.di-con.active{
	display:block;
}
div.section-search{
	height:39px;
	float:right;
	padding-top: 5px;
}
input.search-words{
	width: 202px;
	height: 25px;
	border: solid 1px #eeeeee;
	line-height: 39px;
	padding-left:10px;
}
.section-search input.search-btn{
	width: 61px;
	height: 26px;
	background-color:#70d2f7;
	border:0px;
	color:white;
}
.section-search input.search-btn:hover{
	background-color:#53a2e3;
	color:#fff;
}
#di-content{
	padding-top: 20px;
	padding-left: 15px;
}
/*成语 start*/
div.chart-container{
	width:100%;
	height:571px;
	padding-top: 50px;
	padding-left: 0px;
}
div.chart-start{
	float:left;
	width:172px;
}
#chengyu  div.start-word{
	width: 172px;
	height: 59px;
	background-color: #6e90ff;
	border-radius: 30px;
	text-align:center;
	position:relative;
}
div.start-word span{
	line-height: 59px;
	font-family: MicrosoftYaHei;
	font-size: 18px;
	color:white;
	margin-right:6px;
}
div.other-words{
	padding-top: 20px;
}
div.other-words li{
	width: 148px;
	height: 41px;
	border: solid 3px #6e90ff;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div.other-words li span{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #333333;
	line-height: 37px;
}
div.other-words ul{
	margin-bottom:24px;
}
a.next-group{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #6e90ff;
	margin-left:63px;
}
div.chart-col{
	float:left;
	width:170px;
	height:500px;
}
div.chart-box{
	width:170px;
	height:250px;
}
div.line-word{
	width: 123px;
	height: 48px;
	border-radius: 24px;
	float:left;
	margin-top: 6px;
	text-align: center;
	position:relative;
}
div.line-word span{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 48px;
	margin-right:3px;
	color: #ffffff;
}
div.line-other-words{
	clear:both;
	width: 96px;
	height: 145px;
	background:url("../images/show-words.png") no-repeat left;
	margin-left: 50px;
}
div.line-other-words ul{
	float:right;
	margin-top: 43px;
	line-height: 33px;
}
div.line-other-words li span{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #333333;
}
div.line-other-words li a{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #6e90ff;
}
/*典故展示*/
div.start-word a, div.line-word a{
	padding:10px;
	background:url("../images/gushi.png") no-repeat center;
}

div.start-word a:hover, div.line-word a:hover, div.start-word a.on-show, div.line-word a.on-show{
	background:url("../images/gushi-h.png") no-repeat center;
}
/*成语连接线, 成语框*/
div.connection{
	float:left;
	width: 47px;
	height: 4px;
	margin-top: 29px;
}
img.minus{
	width: 13px;
	height: 13px;
}
#line1{
	position: relative;
	width: 85px;
	background-color: #58a8d0;
}
#line1 .minus{
	position:absolute;
	top:-5px;
}
#chart-1 div.line-word, #chart-1 div.connection{
	background-color: #7ecff6;
}
#chart-2 div.line-word, #chart-2 div.connection{
	background-color: #6e90ff;
}
#chart-3 div.line-word, #chart-3 div.connection{
	background-color:#94c552 ;
}
#chart-4 div.line-word, #chart-4 div.connection{
	background-color:#7ecb83 ;
}
#chart-5 div.line-word, #chart-5 div.connection{
	background-color:#f6d258 ;
}
#chart-6 div.line-word, #chart-6 div.connection{
	background-color:#eabfed ;
}
#chart-7 div.line-word, #chart-7 div.connection{
	background-color:#ed9548;
}
#chart-8 div.line-word, #chart-8 div.connection{
	background-color:#efab94;
}
#chart-9 div.line-word, #chart-9 div.connection{
	background-color:#6585e8;
}
#chart-10 div.line-word, #chart-10 div.connection{
	background-color:#918edd;
}
.chart-border{
	position:relative;
	left:-16px;
	top:29px;
	float:right;
	width:65px;
	height:254px;
	border-top: 4px solid #6585e8;
	border-radius: 0px;
	border-right: 4px solid #6585e8;
	border-bottom:4px solid #918edd;
}
/*精彩典故*/
.close-story{
	float:right;
	margin-right: 34px;
}
.story-title{
	width: 111px;
	height: 39px;
	background-color:#f7f9fb; 
	border: solid 1px #eeeeee;
	margin-bottom: 30px;
	text-align: center;
}
.story-title span{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 36px;
	color: #333333;
}
.story-box{
	width: 590px;
	box-shadow: 0px 9px 20px 1px 
		rgba(234, 234, 234, 0.58);
	border: solid 1px #eeeeee;
	float:left;
	padding:10px 15px 10px 15px;
	display:none;
	position:absolute;
	top:50px;
	left:0px;
	z-index:999;  
	background: #fff;
	text-align:left;
}
.story-box.right{
	margin-left: 5px;
}
div.story-box span{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 36px;
	color: #333333;
	font-weight: bold;
}
.story-box p{
	width: 496px;
	margin: 0px auto 0px auto;
	font-family: MicrosoftYaHei;
	font-size: 13px;
	line-height: 36px;
	letter-spacing: 0px;
	color: #333333;
}
.story-box a{
	font-family: MicrosoftYaHei;
	font-size: 12px;
	line-height: 36px;
	letter-spacing: 0px;
	color: #5b86ff;
}
div.story-links{
	width: 496px;
	margin: 0 auto;
}
a.story-src{
	float:left;
}
a.story-more{
	float:right;
}
/*成语 end*/
/*格言 start*/

div.moto-type{
	width:130px;
	float:left;
}
#moto-type-change li{
	margin-top: 6px;
	width: 112px;
	height: 39px;
	background-color: #ffffff;
	border: solid 1px #eeeeee;
}
#moto-type-change li a{
	padding-left: 39px;
	font-size: 14px;
	color: #333333;
	font-family: MicrosoftYaHei;
}
#moto-type-change li a:hover{
	background-color: #f6f8fc;
}
#moto-type-change li a:focus{
	background-color: #f6f8fc;
}
#moto-type-change li.active{
	background-color:#f6f8fc; 
}
/*#moto-type-change li.active*/
#geyan{
	width:100%;
	padding-top: 20px;
}
div#moto-list{
	float:left;
	width:900px;
	padding-top:10px;
	padding-left:40px;
}
ul.moto-items{
	margin-bottom: 22px;
}
ul.moto-items li span{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 38px;
	letter-spacing: 0px;
	color: #333333;
}
a.moto-source, a.moto-more{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 38px;
	letter-spacing: 0px;
	color: #6e90ff;
}
a.moto-more{
	float:right;
}
/*格言 end*/
/*谜语 start*/
.miyu-subtitle span{
	font-family: SimSun;
	font-size: 16px;
	font-weight: bold;
	line-height: 23px;
	letter-spacing: 0px;
	color: #2c447c;
	padding-left: 28px;
	background: url("../images/quiz-icon.png") no-repeat left;
	background-size: 23px 100%;
}
.miyu-subtitle a{
	color:blue;
}
#miyu{
	padding-top: 22px;
}
#selection{
	float:right;
	width:90px;
	height:20px;
	line-height: 23px;
}
/* 谜语 boxes */
div.show-quiz-boxes{
	width:100%;
	padding-top:50px;
	height:420px;
	perspective: 1000px;
}
div.sq-box{
	position:relative;
	margin-left: 14px;
	float:left;
	width: 278px;
	height: 330px;
}
.card{
	display:block;
	position:absolute;
	left:0;
    top:0;
    right:0;
    bottom:0;
	transition:all 1s ease-in-out;
	width: 278px;
	height: 330px;
	background-color: #ffffff;
	box-shadow: 0px 0px 16px 2px 
		rgba(234, 234, 234, 0.58);
}
.card.back{
	z-index: 1;
	transform:rotateY(180deg);
	backface-visibility: hidden;
}
.card.front{
	 z-index: 2;
	 backface-visibility: hidden;
}
.card.front.cur{
    z-index: 1;
    transform:rotateY(180deg);
    backface-visibility: hidden;
}
.card.back.cur{
    z-index: 2;
    transform:rotateY(360deg);
}
div.top-banner{
	width: 278px;
	height: 34px;
	background-color: #f6fafc;
	box-shadow: 0px 0px 3px 0px 
		rgba(234, 234, 234, 0.58);
}
div.quiz-content p{
	width: 233px;
	height: 258px;
	font-family: SimSun;
	font-size: 12px;
	line-height: 36px;
	color: #333333;
	margin:0 auto;
	padding-top: 22px;
}
div.ft-banner{
	width: 278px;
	height: 42px;
	background-color: #fcfcfc;
	box-shadow: 0px 0px 3px 0px 
		rgba(234, 234, 234, 0.58);
	text-align: center;
}
span.flip{
	cursor: pointer;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
	color: #283f6b;
}
img.flip{
	cursor: pointer;
}
div.quiz-back-content{
	padding-top: 40px;
	width: 278px;
	height:288px;
	background-color: #f6fafc;
	box-shadow: 0px 0px 3px 0px 
		rgba(234, 234, 234, 0.58);
}
div.quiz-back-content p{
	width: 233px;
	height: 192px;
	font-family: SimSun;
	font-size: 12px;
	line-height: 36px;
	letter-spacing: 0px;
	color: #333333;
	margin:0 auto;
}
img.flip{
	position:absolute;
	left:260px;
	top:130px;
}
div.quiz-back-src{
	font-family: MicrosoftYaHei;
	font-size: 13px;
	line-height: 41px;
	letter-spacing: 0px;
	color: #283f6b;
	text-align: center
}
/* end of miyu boxes*/

.box-icon{
	position:absolute;
	top:-30px;
	left:102px;
	z-index:33; 
}
.box-icon img{
	width: 69px;
	height: 69px;
}
.show-result-boxes{
	width:100%;
	height:200px;
	padding-top: 35px;
}
.rst-box{
	position:relative;
	margin-left: 14px;
	float:left;
	width: 278px;
	height: 116px;
	/*background-color: #ffffff;
	box-shadow: 0px 2px 12px 1px 
		rgba(234, 234, 234, 0.58);*/
}
div.rst-card{
	width: 278px;
	height: 116px;
	position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    transition:all 1s ease-in-out;
    background-color: #ffffff;
	box-shadow: 0px 2px 12px 1px 
		rgba(234, 234, 234, 0.58);
}
.rst-card.front{
	z-index: 2;
}
.rst-card.back{
	 z-index: 1;
    transform:rotateY(180deg);
}
.rst-card.front.cur{
	z-index: 1;
    backface-visibility: hidden;
    transform:rotateY(180deg);
}
.rst-card.back.cur{
	z-index: 2;
    transform:rotateY(360deg);
}
div.rst-content{
	padding-top: 22px;
	width:100%;
	height:74px;
}
div.rst-content p{
	width:233px;
	margin:0 auto;
	text-align: center;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 36px;
	color: #333333;
}
div.rst-ft-banner{
	width:100%;
	height:42px;
	background-color: #fcfcfc;
	box-shadow: 0px 0px 3px 0px 
		rgba(234, 234, 234, 0.58);
	text-align: center;
}
span.rst-flip{
	font-family: MicrosoftYaHei;
	font-size: 13px;
	line-height: 24px;
	color: #283f6b;
	line-height: 42px;
	cursor: pointer;
}
span.rst-src{
	font-family: MicrosoftYaHei;
	font-size: 13px;
	line-height: 41px;
	letter-spacing: 0px;
	color: #283f6b;
	text-align: center
}
div.rst-flip{
	width:12px;
	height:24px;
	background: url("../images/right_icon.png") no-repeat;
	cursor: pointer;
	position:absolute;
	top:30px;
	left:258px;
}
/*谜语 end*/
/*======= 内容挖掘部分 end =========*/
/*=================== 语词库主要内容结束 =====================* /

/*=================== 语词库条目内容开始 =====================*/
/*===== 标题栏 =====*/
.msm-banner.dt-page{
	height:320px;
}
ul.breadcrumb{
	background: none;
	margin-bottom: 0px;
}
ul.breadcrumb li a, ul.breadcrumb span{
	font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: bold;
	line-height: 23px;
	color: #293e6b;
}
ul.breadcrumb li.active{
	font-family: SimSun;
	font-size: 12px;
	font-weight: bold;
	line-height: 35px;
	letter-spacing: 0px;
	color: #fb6969;
}
/*===== 标题栏结束 =====*/
/*===== 左右分栏， 分栏标题 =====*/
/*left*/
.dt-leftbar{
	width:289px;
	overflow-x:hidden;
	border: 1px solid #DCDCDC;
	background-color: #fbfbfb;
	float:left;
}
.dt-rightbar{
	width:911px;
	border-top:1px solid #DCDCDC; 
	/*border-right:1px solid #DCDCDC;*/
	float:left;
}
.dt-leftbar-title{
	width:100%;
	border-bottom:1px solid #DCDCDC;
	height:38px;
	line-height:38px;
	padding-left:15px;
}
.dt-leftbar-title{
	font-family: SimSun;
	font-size: 15px;
	font-weight: bold;
	line-height: 35px;
	background: url("../images/bg-dt-section.png") no-repeat;
	color: #2c3f6a;
}
/*right*/
.dt-rightbar-title{
	width:100%;
	border-bottom:1px solid #DCDCDC;
	height:38px;
	line-height:38px;
	padding-left:30px;
	padding-right:15px;
}
ul.actions{
	width: 220px;
}
ul.actions span:hover{
	color:#53a2e4;
}
ul.actions li{
	width:33%;
	line-height: 38px;
	cursor: pointer;
}
ul.actions img{
	width:16px;
	height:16px;
	margin-right: 10px;
	margin-top: -5px;
}
div.dt-search-bar{
	float:right;
}
ul.size-change{
	margin-left: 30px;
}
ul.size-change li{
	width:35px;
	text-align: center;
}
ul.size-change li a{
	font-family: SimSun;
	font-size: 12px;
	line-height: 35px;
	text-decoration: none;
	color: #6f6f6f;
}
ul.size-change li.on a{
	color:#53a2e4;
}
ul.size-change li a:hover{
	color:#53a2e4;
}
.dt-search-bar .search-input{
	width: 233px;
	height: 25px;
	padding-left: 10px;
	border: solid 1px #eeeeee;
}
.dt-search-bar .btn{
	width: 68px;
	height: 26px;
	background-color: #f3f7fa;
	font-family: SimSun;
	font-size: 12px;
	line-height: 12px;
	color: #2a3f6a;
	text-align:center;
	outline:none;
}
.dt-search-bar .btn:hover{
	background-color: #53a2e3;
	color:#fff;
}
/*===== 左右分栏， 分栏标题 end =====*/
/*==== 左侧边栏 start=====*/
.dt-book-title{
	margin-top:30px;
	width:100%;
	font-family: SimSun;
	font-size: 15px;
	color: #cc0000;
	font-weight:bold;
	margin-left: 15px;
}
.dt-book-navbar{
	width:100%;
	margin-top: 30px;
}
.dt-book-navbar .panel{
	background: none;
	border:0;
}
a.toggle-btn{
	display:inline-block;
	width: 15px;
	height:15px;
	line-height: 15px;
	font-size:15px;
	border:1px solid #333333;
	text-align: center;
	vertical-align: center;
	text-decoration: none;
}
ul.dt-chapters{
	display:inline-block;
	margin-left: 10px;
}
ul.dt-chapters a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color:#2a3f6a;
	font-weight: bold;
}
.dt-book-navbar div.panel-heading{
	line-height:18px;
	border:0;
}
.dt-book-navbar div.panel-body{
	overflow-x: hidden;
	border:0;
}
.dt-book-navbar{display:none;}
.dt-book-navbar.active{display:block;}
.dt-leftbar-title li{margin-right: 5px;}
.dt-leftbar-title li a{
	line-height:37px;
	padding:6px 12px;
	text-decoration:none;
}
.dt-leftbar-title li a:hover, .dt-leftbar-title li.cur a{
	background-color: #53a2e3;
	color:#fff;
}
ul.nav-sections li{
	display: block;
	position: relative;
	width:100%;
	line-height: 40px;
	padding-left: 28px;
	cursor: pointer;
}
ul.nav-sections li a{
	text-decoration: none;
	font-family: SimSun;
	font-size: 14px;
	line-height:40px;
	letter-spacing: 0px;
	color: #2a3f6a;
}
ul.nav-sections li.active{
	background-color: #f3f7fa;
}
ul.nav-sections li:hover{
	background-color: #f3f7fa;
}
ul.nav-sections li.active a,
ul.nav-sections li:hover a {
	font-weight: bold;
}
ul.dt-chapters li.active a{
	font-size: 20px;
}
/*汉语言知识部分*/
div.chi-knowledge{
	width: 289px;
	height: 451px;
}
div.chi-title{
	width:100%;
	border-top: 1px solid #e3ecf1;
	border-bottom: 1px solid #e3ecf1;
	height:41px;
	background:url("../images/bg-dt-section.png") no-repeat;
}
div.chi-title span{
	line-height: 41px;
	font-family: SimSun;
	font-size: 15px;
	font-weight: bold;
	color: #0d50ab;
	margin-left: 15px;
}
div.chi-list{
	height:410px;
	padding-left: 15px;
	padding-top:22px;
	border-bottom:solid 1px #eeeeee;
}
div.chi-list ul li{
	width:100%;
	height: 42px;
}
div.chi-list ul li:hover{
	background-color:#f3f7fa; 
}
div.chi-list ul li:hover a{
	font-weight:bold;
}
div.chi-list ul li a{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #333333;
	text-align:left;
	line-height: 42px;
	text-decoration: none;
}
/*汉语言知识部分 end */
/*==== 左侧边栏 end=====*/

/*==== right侧边栏 start=====*/
#word-intro{
	padding-bottom: 22px;
}
div.dt-container{
	padding-left: 30px;
	padding-right: 15px;
}
div.dt-section-title{
	padding-left: 30px;
	padding-right: 15px;
	width: 879px;
	height: 41px;
	background-color: #f3f7fa;
}
/*词条简介*/
.word-intro-container{
	width:100%;
	padding-top: 30px;
}
.word-title{
	display: inline-block;
	font-family: MicrosoftYaHei;
	font-size: 33px;
	line-height: 36px;
	color: #cc0000;
	margin-bottom: 30px;
}
.word-intro-container p{
	padding-left: 15px;
	padding-right: 15px;
	text-indent: 2em;
	font-family: SimSun;
	font-size: 15px;
	line-height: 32px;
	letter-spacing: 0px;
	color: #010e1f;
}
.intro-source{
	margin-top: 50px;
	color:#333;
}
div.word-change{
	padding-top: 50px;
	width:270px;
	margin:0 auto;
	font-family: SimSun;
	font-size: 14px;
	text-align: center;
}
div.word-change a{
	margin-right: 30px;
	color: #010e1f;
}
div.word-change em{
	color:#cc0000;
}
/*=== section-title ===*/
div.dt-section-title span{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 28px;
	color: #2a416a;
	line-height: 41px;
	font-weight: bold;
}
div.dt-section-title ul{
	float:right;
}
div.dt-section-title ul li{
	float:left;
	width: 81px;
	height: 41px;
	text-align: center;
	line-height: 41px;
	cursor: pointer;
}
div.dt-section-title ul li:hover,
div.dt-section-title ul li.active {
	background-color: #f9de19;
}
div.dt-section-title ul li:hover a,
div.dt-section-title ul li.active a {
	color:#fff;
}
div.dt-section-title ul li a{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 35px;
	letter-spacing: 0px;
	color: #2a416a;
	text-decoration: none;
	padding:5px 10px 5px 10px;
}
/*语词知识部分*/
.word-knowledge{
	padding-bottom:22px;
}
#word-knowledge-content{
	padding:22px 22px 22px 15px;
}
.word-table td{
	width:80px;
	border:1px solid #eeeeee;
	text-align: center;
	padding:5px;
}
.word-table{
	margin-bottom: 15px;
}
#word-knowledge-content p{
	font-size: 13px;
	line-height: 26px;
	color: #333333;
	margin-top: 15px;
	padding-left: 5px;
	/*text-indent: 1em;*/
}
#word-knowledge-content p.word-source{
	color:#6f6f6f;
}
p.word-graph{
	padding-top: 15px;
}
p.word-graph span{
	margin-right: 69px;
	vertical-align: top;
}
.chart-operators{
	float:right;
}
.chart-operators a{
	line-height: 41px;
	color: #2a416a;
	text-decoration: none;
	margin-left:15px;
}
.chart-operators a:hover{
	color:#53a2e4;
}
/* 词链导图 section*/
.word-chart{
	padding-bottom:90px;
}
.chart-content{
	padding:15px 0px 15px 22px;
	color:#333333;
}
.chart-control label{
	width:115px;
	text-align: left;
	height:37px;
}
.line-tiles label{
	width:110px;
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
	margin-left: 0px;
}
.line-start{
	font-weight: bold;
	font-size: 15px;
	display:inline-block;
	float:left;
}
.line-tiles{
	float:left;
	width:680px;
	margin-left: 10px;
}
.chart-content a{
	color:#333333;
	text-decoration: none;
	margin-right: 40px;
}
.chart-content a:hover{
	color:#53a2e4;
}
#chart{
	width:500px;
	height:500px;
	margin:50px auto 50px auto;
}
/*.word-tree{
	padding-top:40px;
}*/
.word-tree-root{
	width:120px;
	height:280px;
	float:left;
	padding-top: 120px;
}
.word-tree-branches{
	float:left;
	height:280px;
	width:700px;
	border-radius: 10px;
	border-left: 3px solid #50aac1;
}
.word-tree-start{
	width:80px;
	height:40px;
	background-color: #50aac1;
	color:white;
	text-align: center;
	border-radius: 5px;
	line-height: 40px;
	float:left;
	font-size:16px;
}
.connector{
	width:40px;
	height:3px;
	float:left;
	position:relative;
	top:17px;
}
.connector img{
	position:absolute;
	top:-5px;
}
.connector.root{
	background-color: #50aac1; 
}
.branch{
	width:100%;
	height:50px;
	position:relative;
}
.linker{
	width:50px;
	height:100%;
	margin-left: -2px;
}
.branch.top .linker{
	border-top-left-radius: 8px;
}
.branch.bottom .linker{
	border-bottom-left-radius:8px;
}
#branch1 .linker,#branch3 .linker {
	border-left:3px solid #a7e0c7;
	border-top: 3px solid #a7e0c7;
}
#branch2 .linker{
	border-left:3px solid #f2d107;
	border-top: 3px solid #f2d107;
}
#branch4 .linker, #branch6 .linker{
	border-left:3px solid #f2d107;
	border-bottom: 3px solid #f2d107;
}
#branch4{margin-top: -20px}
#branch5 .linker{
	border-left:3px solid #a7e0c7;
	border-bottom: 3px solid #a7e0c7;
}
.top .world-col{
	position:absolute;
	width:90px;
	height:40px;
	top:-18px;
	left:45px;
	color:white;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.bottom .world-col{
	cursor: pointer;
	position:absolute;
	width:90px;
	height:40px;
	top:27px;
	left:45px;
	color:white;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
}
#branch1 .world-col, #branch3 .world-col,#branch5 .world-col{
	background-color:#a7e0c7;
}
#branch2 .world-col, #branch4 .world-col,#branch6 .world-col{
	background-color:#f2d107; 
}
.top .branch-connector{
	width:30px;
	height:1px;
	background-color: grey;
	position:absolute;
	left:134px;
	top:2px;
}
.branch-connector img{
	position:absolute;
	top:-6px;
	left:8px;
}
.bottom .branch-connector{
	width:30px;
	height:1px;
	background-color: grey;
	position:absolute;
	left:134px;
	top:48px;
}
.top .branch-info{
	width:400px;
	border-bottom-left-radius: 15px;
	border-bottom: 1px solid grey;
	position:absolute;
	top:-9px;
	left:163px;
	padding-left:20px;
}
.bottom .branch-info{
	width:400px;
	border-bottom-left-radius: 15px;
	border-bottom: 1px solid grey;
	position:absolute;
	top:36px;
	left:163px;
	padding-left: 20px;
}
/*流程图选中样式*/
div.world-col:hover{
	transform: scale(1.1);
	background-color:#827dbd !important;
}
div.world-col.cur{
	transform: scale(1.1);
	background-color:#827dbd !important;
}
div.world-col.cur + .branch-connector{
	left:138px;
}
div.world-col.cur + .branch-connector +.branch-info{
	left:167px;
	border-bottom-left-radius:0px;
	border:0px;
	background-color: #c1bfdb;
}
/* 少数民族语言知识 section */
.lan-knowledge{
}
#lan-knowledge-content{
	padding:32px 15px 22px 22px;
	height:124px;
}
.lan-list li{
	float:left;
	line-height: 33px;
	width:265px;
	text-align: left;
}
.lan-list li a{
	color: #2a416a;
	text-decoration: none;
}
.lan-list li a:hover{
	color:#6e90ff;
}
.lan-list-icon{
	width:10px;
	height:10px;
	background-color: grey;
	float:left;
	margin-top:10px;
	margin-right: 20px;
}

/* 相关文章section */
.reference div.dt-section-title ul li{
	width:105px;
}
ul.refer-list li{
    font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #555555;
	line-height:35px;
}
ul.refer-list li em{
	color:#2582f1;
}
#reference-content{
	padding-top:35px;
	padding-left: 15px;
	height:400px;
}
.reference{
	height:450px;
}
/*==== right侧边栏 end=====*/
/*=================== 语词库条目内容结束 =====================*/

/*========================= 鉴赏库 start =========================*/
.msm-banner{
	height:320px;
}
#jsk-banner{
	background: url("../images/jsk_banner.jpg") no-repeat;
	height:320px;
}
.book-nav.jsk{
	padding-top:0px;
}
#appre-menu .panel-body{
	max-height:397px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.sub-highlighter{
	float:left;
	width: 3px;
	height: 16px;
	background-color: #6e90ff;
	margin-top: 11px;
	margin-right:8px;
}
.appre-sub{
	line-height: 40px;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #333333;
}
.appre-sub-tabs{
	margin-top: 5px;
}
.appre-sub-tabs li{
	width:226px;
}
.weekly-recomm{
	width:100%;
	height:950px;
}
.jsk-section-title{
	margin:0 auto;
	height:53px;
	width:490px;
	background: url("../images/jsk-section-title.png") no-repeat;
}
.jsk-section-content{
	padding-top:36px;
	width:100%;
}
.poem-box{
	width: 589px;
	height: 297px;
	background-color: #ffffff;
	box-shadow: 0px 3px 10px 0px 
		rgba(202, 202, 202, 0.59);
	border-radius: 3px;
	float:left;
	padding-left: 15px;
	padding-right: 15px;
}
.poem-box.left-box, .jsk-img-box.left-box{
	margin-right: 20px;
}
.jsk-img-box{
	float:left;
	width: 589px;
	height: 443px;
	background-color: #ffffff;
	box-shadow: 0px 3px 10px 0px 
		rgba(202, 202, 202, 0.59);
	border-radius: 3px;
	margin-top: 43px;
	padding:22px 15px 22px 15px;
}
.left-menu.jsk{
	height:611px;
}
.operations{
	width: 188px;
	height: 53px;
	float:right;
	padding-left: 50px;
	padding-top:10px;
}
.operations .btn{
	width:25px;
	height:25px;
	margin-left: 10px;
}
.like-btn{
	background: url("../images/appre-op.png") no-repeat;
	background-position:-8px 0px;
}
.down-btn{
	background: url("../images/appre-op.png") no-repeat;
	background-position: -48px 0px;
}
.next-btn{
	background: url("../images/appre-op.png") no-repeat;
	background-position: -90px 1px;
}
.like-btn:hover{
	background-position:-8px -26px;
}
.down-btn:hover{
	background-position: -48px -26px;
}
.next-btn:hover{
	background-position: -90px -25px;
}
.p-title{
	line-height: 36px;
	margin-top: 28px;
}
.p-title a{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #cc0000;
	text-decoration:none;
}
.p-title a:hover{color:orange;}
.p-author{
	font-family: MicrosoftYaHei;
	font-size: 12px;
	color: #091248;
	margin-top: 9px;
}
.p-content{
	font-family: MicrosoftYaHei;
	font-size: 13px;
	color: #333333;
	margin-top: 5px;
	line-height: 37px;
	width:568px;
}
.annotation-title{
	margin-top: 5px;
}
.annotation-title span{
	float:left;
	font-family: MicrosoftYaHei;
	font-size: 12px;
	line-height:26px;
	letter-spacing: 0px;
	color: #333333;
	width: 73px;
	height: 26px;
	border: solid 1px #d2d2d2;
	text-align: center;
}
.a-divider{
	width: 460px;
	height: 1px;
	background-color: #e5e5e5;
	float:left;
	margin-top:13px;
	margin-left:2px;
}
.annotation{
	width: 544px;
	height: 45px;
	font-family: MicrosoftYaHei;
	font-size: 12px;
	line-height: 23px;
	color: #666666;
	margin-top: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.img-box-title a{
	text-decoration:none;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	color: #cc0000;
	line-height: 36px;
}
.img-box-title a:hover{color:orange;}
.jsk-img{
	float:left;
	width:196px;
	height:169px;
	background-color: pink;
	margin-left:10px;
	margin-top:12px;
}
#jsk-img1, #jsk-img3{
	margin-right: 60px;
}
#jsk-img1{
	background: url("../images/jsk-1.png") no-repeat;
	background-position: 0 0;
}
#jsk-img2{
	background: url("../images/jsk-1.png") no-repeat;
	background-position: -253px 0px;
}
#jsk-img3{
	background: url("../images/jsk-1.png") no-repeat;
	background-position: 0px -186px;
}
#jsk-img4{
	background: url("../images/jsk-1.png") no-repeat;
	background-position: -253px -186px;
}
.img-intro{
	float:left;
	width:261px;
}
.img-intro-tit{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	line-height: 36px;
	color: #cc0000;
}
.img-intro span{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	color: #666666;
	line-height: 33px;
}
.img-intro p.intro{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 36px;
	color: #666666;
	margin-top: 15px;
}
div.img-box-img{
	float:left;
	width: 242px;
	height: 373px;
	margin-left:36px;
	margin-top: -27px;
	background: url("../images/pic/pic30.png") no-repeat;
}
/*========================= 鉴赏库 end =========================*/

/*======================= 鉴赏库条目 start =======================*/
#poem-intro{
	font-family: MicrosoftYaHei;
	padding-bottom: 50px;
}
.poem-intro-container{
	padding-top: 42px;
}
.pintro-tit{
	font-size: 30px;
	line-height: 36px;
	color: #cc0000;
	/*font-weight: bold;*/
}
.pinfo-bar{
	float:right;
	width: 365px;
	height: 13px;
}
.pinfo-bar span{
	font-size: 13px;
	line-height: 36px;
	color: #666666;
	margin-left: 20px;
}
.pinfo-bar em, .pinfo-bar em a{
	color:#2a3f6a;
}
.ptext{
	margin-top: 36px;
}
.ptext span, .p-annotation span, .p-interpretation span{
	float:left;
	font-size: 16px;
	line-height: 36px;
	font-weight: bold;
	color: #cc0000;
}
.ptext p{
	float:left;
	margin-left:22px;
	font-size: 16px;
	line-height: 36px;
	color: #000000;
}
.p-annotation, .p-interpretation{
	margin-top:28px;
}
.p-annotation p{
	float:left;
	margin-left:22px;
	font-size: 16px;
	line-height: 36px;
	color: #333333;
}
.p-interpretation p{
	text-indent: 1em;
	font-size: 16px;
	line-height: 36px;
	color: #333333;
}
.p-interpretation .inter-content{
	width:799px;
	float:left;
	margin-left:22px;
}
#poem-intro .intro-source{
	margin-left: 59px;
}
#poem-intro .word-change{
	width:280px;
}
/*pics*/
.jsk-resouces{
	/*height:995px;*/
	padding-bottom: 36px;
}
#jsk-resouces-content{
	padding-top: 16px;
	padding-left: 8px;
}
.pics-col{
	width:200px;
	/*height:800px;*/
	float:left;
}
.pics-col.left-col{
	margin-right: 18px;
}
.pic-brick{
	padding: 4px 4px 7px 4px;
    margin-bottom: 17px;
    border: 1px solid #dcdee0;
    background: url(../images/icon-waterfall-bg.jpg) no-repeat left bottom #fff;
}
.pic-brick img{
	min-width: 50%;
    max-width: 100%;
    margin: 0 auto;
    /*cursor: pointer;*/
    margin-bottom:6px;
}
.pic-brick .tit a{
	color:#333333;
}
/*======================= 鉴赏库条目 end =======================*/
/*======================= 行业库 start =======================*/
#hyk-recomm{padding-left:5px; padding-bottom: 10px;padding-right:0px;}
#hyk-recomm span{padding-right:11px;}
li.rec{
	height: 41px;
	border-radius: 5px;
	border: solid 1px #dcdcdc;
	padding:0px 10px 0px 35px;
}
li.rec.left{margin-right:12px;}
li.rec a{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 36px;
	letter-spacing: 0px;
	color: #333333;
}
#hyk-rec1{
	background:url("../images/hyk-rec1.png") no-repeat left;
	background-size: 22px 22px;
	background-position:7px 8px;
}
#hyk-rec2{
	background:url("../images/hyk-rec2.png") no-repeat left;
	background-size: 22px 22px;
	background-position:7px 8px;
}
#hyk-rec3{
	background:url("../images/hyk-rec3.png") no-repeat left;
	background-size: 22px 22px;
	background-position:7px 8px;
}
#hyk-rec4{
	background:url("../images/hyk-rec4.png") no-repeat left;
	background-size: 22px 22px;
	background-position:7px 8px;
}
#hyk-left-menu{height:610px;}
/*行业分析部分*/
.hy-section-title{
	float:left;
	width: 241px;
	height: 39px;
	background-color:#f3f6f9; 
	border: solid 1px #eeeeee;
	font-family: MicrosoftYaHei;
    font-size: 16px;
    line-height: 39px;
    color: #333333;
    text-align:left;
    padding-left:10px;
}
.hy-analysis .section-menu{
	padding-left: 0px;
}
#hy-graph{
	width:100%;
	height:800px;
	margin:50px auto 50px auto;
	background:url("../images/tree-bg.png") no-repeat center;
	/*background-size:650px, 650px;*/
}
.topic-words span{
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: bold;
	line-height: 36px;
	color: #fff;
	cursor: pointer;
}
.topic-words div{position:absolute;}
#center{top:259px; left:256px;}
#float1{top:124px; left:258px;}
#float2{top:262px; left:440px;}
#center-branch1{top:76px; left:62px;}
#center-branch2{top:267px; left:102px;}
#center-branch3{top:429px; left:245px;}
#center-branch3 span{line-height: 24px;text-align: center;}
#center-branch4{top:426px; left:413px;}
#center-branch5{top:70px; left:434px;}
/*报告展示部分*/
.report-display{
	padding-top: 50px;
}
.report-box{
	position:relative;
	width: 588px;
	height: 236px;
	background-color: #ffffff;
	box-shadow: 0px 3px 10px 0px 
		rgba(202, 202, 202, 0.59);
	border-radius: 3px;
	float:left;
	margin-bottom:99px;
	padding:26px;
}
.report-box.left{
	margin-right: 22px;
}
.rp-img{
	position:absolute;
	top:-24px;
	left:;
	width: 157px;
	height: 216px;
	box-shadow: 0px 2px 11px 0px 
		rgba(234, 234, 234, 0.58);
	background:url("../images/book.png") no-repeat center;
	transition: all 0.2s;
    -ms-transition:all 0.2s; /* IE 9 */
    -moz-transition:all 0.2s; /* Firefox */
    -webkit-transition:all 0.2s; /* Safari 和 Chrome */
    -o-transition:all 0.2s; /* Opera */
}
.rp-img a{
	width:157px; 
	height:216px; 
	display: inline-block;
} 
.rp-img:hover{
	box-shadow: 5px 5px 5px 5px  #eeeeee;
    transform: scale(1.08);
    -ms-transform: scale(1.08);   
   -moz-transform: scale(1.08); 
   -webkit-transform: scale(1.08); 
   -o-transform: scale(1.08); 
}
.rp-tit{
	position:absolute;
	top:247px;
}
.rp-tit a{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: bold;
	line-height: 36px;
	color: #333333;
	text-decoration:none;
}
.rp-tit a:hover{color:#53a2e3;}
.rp-intro{
	float:right;
	width: 322px;
	margin-right: 8px;
}
.rp-intro p{
	font-family: MicrosoftYaHei;
	font-size: 13px;
	line-height: 36px;
	color: #666666;
}
/*======================= 行业库 end =======================*/
/*======================= 行业库条目页 start =======================*/
#hyk-banner{
	background: url("../images/hyk_banner.jpg") no-repeat;
}
.nav-section-title{
   height: 32px;
}
.nav-section-title span{
	font-family: MicrosoftYaHei;
	font-size:14px;
	font-weight:bold;
	line-height: 32px;
	color: #2a3f6a;
	margin-left: 15px;
}
dl.nav-sections dd{
	padding-left: 20px;
}
dl.nav-sections ul.nav-sections li{
	padding-left:34px;
}
#prof-intro{
	padding:36px 10px 36px 10px;
}
#prof-intro .word-change{
	width:368px;
}
.prof-tit{
	font-family: MicrosoftYaHei;
	font-size: 30px;
	font-weight: normal;
	line-height: 36px;
	color: #cc0000;
}
.prof-info-bar{
	float:right;
	margin-top:6px;
	margin-right:280px;
}
.prof-info-bar span{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 36px;
	color: #000000;
}
.prof-inter{
	margin-top: 36px;
}
.prof-inter p{
	text-indent:2em;
	font-family: MicrosoftYaHei;
	font-size: 15px;
	line-height: 42px;
	color: #333333;
}
.prof-keep-content{
	padding:42px 22px 42px 22px;
}
.prof-keep-content{
	font-family: MicrosoftYaHei;
	font-size: 15px;
	line-height: 36px;
	color: #333333;
	text-indent: 2em;
}
/*========================= 行业库条目页 end ======================*/
/*========================= 附录库 start =========================*/
#flk-banner{
	background: url("../images/flk_banner.jpg") no-repeat;
}
.appendix-tabs{
	padding-bottom:25px;
	padding-top:17px;
	padding-left:10px;
}
.appendix-tabs span{
	font-family:MicrosoftYaHei;
	font-size:18px;
	line-height:36px;
	color:#333333;
	float:left;
}
.tab-box{
	float:left;
	line-height:36px;
	margin-left:20px;
}
.tab-box a{
	text-decoration:none;
	padding:3px 10px;
	border:1px solid #333333;
	border-radius:5px;
	margin-left: 10px;
}
.tab-box a:hover{
	color:#293e6b;
	background-color:#e3ecfd;
	border:1px solid #6883b2;
}
.appendix-col{
	float:left;
	width: 380px;
	height: 1084px;
	border: solid 1px #e5e5e5;
	margin-bottom:50px;
	margin-top: 10px;
	overflow-y: scroll;
}
.appendix-col.left-col{
	margin-right: 30px;
}
.appendix-col-tit{
	height:55px;
	line-height:55px;
	width:100%;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: bold;
	color: #d83b39;
}
.apd-content-container{
	padding:30px 20px;
}
.apd-content-container p{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 33px;
	color: #333333;
}
.apd-content-container em{
	color:#d83b39;
}
.apd-list-item p{
	padding-left: 22px;
	font-family: MicrosoftYaHei;
	font-size: 13px;
	line-height: 33px;
	color: #333333;
}
/*========================= 附录库 end =========================*/
/*========================= 附录库条目页 start ==================*/
#apd-nav{
	padding:10px 15px 22px 15px;
	border-bottom:1px solid #e3ecf1;  
}
.grammar-intro-container{
	padding:42px 15px;
}
.gram-intro-tit{
	font-size: 30px;
	line-height: 36px;
	color: #cc0000;
}
.gram-subtit{
	font-size:18px;
	font-weight: bold;
	line-height:33px;
	color: #2c3f6a;
	margin-top: 38px;
}
#apd-nav ul.nav-sections li{
	height:40px;
	line-height:40px;
}
.gram-tips{
	padding-left: 15px;
	margin-top: 38px;
	font-size:16px;
	line-height:45px;
	color: #333333;
	padding-left: 33px;
	font-family: MicrosoftYaHei
}
.gram-tips em{
	display: block;
	color:#2c3f6a;
	font-weight: bold;
	line-height:33px;
	font-family: MicrosoftYaHei;
}
/*========================= 附录库条目页 end ==================