/*======== 通用结构 ============*/
.body{
	width:100%;
}
.container{
	width:1200px;
	margin-left: auto;
	margin-right: auto;
}
div.footer{
	margin-top: 68px;
}
div.search-result{
	width: 938px;
	background-color: #ffffff;
	box-shadow: 0px 5px 4px 0px 
		rgba(246, 246, 246, 0.58);
	border: solid 1px #f4f6f9;
}
.foot-bot{
	padding-left: 214px;
}
div.b{
	margin-left: -98px;
}
div.t{
	margin-left: -111px;
}
/*========= 升序降序===========*/
/*.order li.ascend span,
.order li.descend span{ background:url("../images/updown-icon.png") no-repeat right;  background-repeat: no-repeat; 
background-position/*:top 5px;}*/
/*========= rst-header ==========*/

body > div.rst-header > div.top-bar{
	width:100%;
	height:36px;
	background-color: #f4f6f9;
}
.top-bar li a{
	font-size: 14px;
    color: #333333;
    text-decoration: none;
}
div.left-bar ul li{
	float:left;
	width:80px;
	line-height:36px;
	text-align:center;
}
.head-right ul{
    width:400px;
}
.adv-search-btn{
	float:left;
}
.head-right ul li{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    line-height:30px;
}
.head-right ul li a {
    color: #333333;
    margin-right: 10px;
    padding-left: 10px;
}
.head-right ul li a.down img{
	margin-left:10px; 
}
.head-right .navbar-nav{
	margin-top:4px;
	margin-right: -90px;
}
/*background*/
/*.head-right ul li a.down{
	color: #444;
    background-color: #cddcdd;
    height:36px;
}*/

/*banner*/
.banner-sm{
	/*height:100px;*/
	padding-top:14px;
	padding-bottom:10px;
	background: url("../images/banner-bg2.jpg") no-repeat;
	background-size: 100% 100%;
}
/* change search bar */
#type{
	height:40px;
	line-height:40px;
	width:104px;
	padding-left:20px;
}
.searchmain .input-box{
	width:495px;
}
.searchmain .search-input {
	width:348px;
}
.searchmain .search-input{
	/*padding: 0;*/
	line-height:40px;
	padding-left: 20px;
	height:38px;
}
.searchmain .input-box{
	height:40px;
}
.searchmain .search-btn{
	height:40px;
	line-height: 40px;
}
.banner-sm .container img{
	width:220px;
	float:left;
	margin-top:10px;
}
.searchmain .sort{
	margin-top:7px;
}
.search-form{
	margin-left: 20px;
	margin-top:9px;
	margin-bottom:10px;
}
#type span{
	line-height: 40px;
	margin-right: 6px;
}
#search-type .sort-icon {
	line-height: 40px;
	font-size:12px;
}
.sort-list li{
	height:30px;
	line-height:30px;
}
.searchmain .btn-wildcard {
	margin-top: 10px;
	vertical-align: center;
	height:21px;
	padding-top: 1px;
}
.searchmain .sort-default{

}
.sort-default .sort-icon{
	line-height:27px;
}
.adv-search-btn{
	margin-top: 10px;
	margin-left: 10px;
}
.search-nav{
	padding-left:267px;
	display:none;
}
#search{
	background:url("../images/btn-search.png") no-repeat center;
	background-position: -2px -2px;
	width:40px;
	height:40px; 
	box-shadow: 0px 0px 3px 0px 
		rgba(31, 30, 30, 0.09);
	border:1px solid #e9e9e9;
	outline: none;
}
#search:hover{
	background-position: -48px -2px;
}
#search-in-result{
	height:40px;
	box-shadow: 0px 0px 3px 0px 
		rgba(31, 30, 30, 0.09);
	border:1px solid #e9e9e9;
	outline: none;
}
#gaoji{
	height:40px;
	box-shadow: 0px 0px 3px 0px 
		rgba(31, 30, 30, 0.09);
	border:1px solid #e9e9e9;
	outline: none;
}
/* finish change search bar */
/*========= rst-header end ==========*/
/*=============== sub header start =========*/
.sub-menu{
	height:90px;
	padding-top:20px;
	background: url("../images/flk_banner.jpg") no-repeat;
}
.sub-menu ul{
	width:100%;
	height:70px;
}
.sub-menu ul li{
	width:18%;
	text-align: center;
}
/*选中*/
.doctype-menus>li.active{ position: relative;color: #333; border-radius: 4px 4px 0 0; background-image: none; background-color: #fff;  }
.doctype-menus>li.active>a span,
.doctype-menus>li.active>a em{ color: #0f5de5;  }
/*=========== 左导航栏 ============*/
.breadcrumb{
	margin-bottom: 0px;
	background-color:white;
}
.tit img{
	margin-right: 10px;
	width: 17px;
	height: 17px;
	margin-top:-2px;
}
#pro{
	margin-top: 30px;
}
#pro .tit{
	background-color:#d9e0e9;
}
/*.yesorno img{
	width:30px;
	float:right;
	margin-top:10px;
	margin-left:-30px;
	height:20px;
}*/
/*======== 右导航栏 ==========*/
.change-page{
	margin-left:15px;
}
.change-page input{
	width:20px;
	border: solid 1px #333333;
}
.change-page a.btn{
	width:20px;
	border:solid 1px #333333;
	line-height: 20px;
	padding:0;
}
div.order-group ul li {
	width:113px;
}
div.order-group ul li img{
	margin-right: 5px;
	width:18px;
	height:18px;
}
div.order-group i.as-ds{
	float:left;
	width:10px;
	height:18px;
	background:url("../images/updown-icon.png") no-repeat;
	background-position:0px 2px; 
	margin-left: 5px;
}
.order li.ascend i.as-ds{ background-position:0px 2px;}
.order li.descend i.as-ds{ background-position:-9px 2px;}
#divider{
	width:1px;
	height:27px;
	background-color:  #e9e9e9;
	float:right;
	margin-top: -7px;
}
/*======== 结果列表 ==========*/
.list-title{
	line-height:36px;
	font-family: MicrosoftYaHei, SimSun;
	font-size:16px;
	margin-top: -5px;
}
.list-title a .key{
	color:#f96868;
	font-weight: bold;
	margin-right: 10px;
}
.list-title span{
	color: #2b4167;
}
p.abstract{
	width: 878px;
	height: 45px;
	font-family: SimSun;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 23px;
	letter-spacing: 0px;
	color:black;
	text-align: left;
}
ul.basic-info{
	margin-top:15px;
	width:900px;
	height:33px;
	line-height: 33px;
	margin-bottom: 0px;
}
ul.basic-info li{
	float:left;
	width:120px;
	color:#696969;
}
ul.basic-info li a{
	color:#696969;
}
.info-divider{
	width:1px;
	height:15px;
	background-color:#a5adb8;
	margin-right: 20px;
	float:right;
	margin-top: 2px;
}
.pic-list li{
	float:left;
    width: 96px;
    height: 94px;
    padding: 1px;
    text-align: center;
    line-height: 94px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 10px;
}
.result-detail-list dd{
	padding-bottom:20px;
}
/*======== end of 结果列表 ==========*/

/*===== 分页 ========*/
.pagination{
}
.pagination li{
	display:block;
	float:left;
	margin-right: 15px;
}
.pagination li a span{
    color:#333333;
}
.pagination li a{
	color:#333333;
}
.page-sum{
	position:relative;
	top:20px;
	font-size:14px;
	float:left;
	line-height: 34px;
	margin-right: 20px;
	margin-left: 20px;
}
div.pn-container{
	position:relative;
	left:140px;
}