@charset "utf-8";
/*--独立子产品、工具书类型的动画效果合集 20170628--*/



/*=================独立子产品 start====================*/
/*首屏*/
/*.pro-home .leftbox{
    opacity: 0;
    -webkit-transform: translate(0,-100px); !*为Chrome/Safari*!
       -moz-transform: translate(0,-100px); !*为Firefox*!
        -ms-transform: translate(0,-30px); !*为IE*!
         -o-transform: translate(0,-30px); !*为Opera*!
            transform: translate(0,-100px);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}*/
.pro-home h4,
.pro-home h5,
.pro-home h6{
    opacity: 0;
    -webkit-transform: translate(0,-80px); /*为Chrome/Safari*/
    -moz-transform: translate(0,-80px); /*为Firefox*/
    -ms-transform: translate(0,-80px); /*为IE*/
    -o-transform: translate(0,-80px); /*为Opera*/
    transform: translate(0,-80px);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out .3s;
}
.pro-home h4{
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
.pro-home h5{
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
    -ms-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;
}
.pro-home h6{
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    -ms-transition-duration: 1.2s;
    -o-transition-duration: 1.2s;
    transition-duration: 1.2s;
}

.pro-home.is-visible h4,
.pro-home.is-visible h5,
.pro-home.is-visible h6{
     opacity: 1;
     -webkit-transform: translate(0,0);
     -moz-transform: translate(0,0);
     -ms-transform: translate(0,0);
     -o-transform: translate(0,0);
     transform: translate(0,0);
}

.pro-home .rightbox{
    opacity: 0;
    -o-transform-origin: 280px 100px;
    -ms-transform-origin: 280px 100px;
    -moz-transform-origin: 280px 100px;
    -webkit-transform-origin: 280px 100px;
    transform-origin: 280px 100px;

    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.pro-home.is-visible .rightbox{
    opacity: 1;
    -o-animation: myrotate 1s;
    -ms-animation: myrotate 1s;
    -moz-animation: myrotate 1s;
    -webkit-animation: myrotate 1s;
    animation: myrotate 1s;
}
@-o-keyframes myrotate {
    0% { -o-transform: rotate(-25deg); }
    5% { -o-transform: rotate(-25deg); }
    35% { -o-transform: rotate(15deg); }
    40% { -o-transform: rotate(15deg); }

    55% { -o-transform: rotate(-8deg); }
    60% { -o-transform: rotate(-8deg); }
    70% { -o-transform: rotate(4deg); }
    75% { -o-transform: rotate(4deg); }

    85% { -o-transform: rotate(-2deg); }
    86% { -o-transform: rotate(-2deg); }
    100% { -o-transform: rotate(0deg); }
}

@-ms-keyframes myrotate {
    0% { -ms-transform: rotate(-25deg); }
    5% { -ms-transform: rotate(-25deg); }
    35% { -ms-transform: rotate(15deg); }
    40% { -ms-transform: rotate(15deg); }

    55% { -ms-transform: rotate(-8deg); }
    60% { -ms-transform: rotate(-8deg); }
    70% { -ms-transform: rotate(4deg); }
    75% { -ms-transform: rotate(4deg); }

    85% { -ms-transform: rotate(-2deg); }
    86% { -ms-transform: rotate(-2deg); }
    100% { -ms-transform: rotate(0deg); }
}

@-moz-keyframes myrotate {
    0%  { -moz-transform: rotate(-25deg); }
    5%  { -moz-transform: rotate(-25deg); }
    35% { -moz-transform: rotate(15deg); }
    40% { -moz-transform: rotate(15deg); }

    55% { -moz-transform: rotate(-8deg); }
    60% { -moz-transform: rotate(-8deg); }
    70% { -moz-transform: rotate(4deg); }
    75% { -moz-transform: rotate(4deg); }

    85% { -moz-transform: rotate(-2deg); }
    86% { -moz-transform: rotate(-2deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes myrotate {
    0%  { -webkit-transform: rotate(-25deg); }
    5%  { -webkit-transform: rotate(-25deg); }
    35% { -webkit-transform: rotate(15deg); }
    40% { -webkit-transform: rotate(15deg); }

    55% { -webkit-transform: rotate(-8deg); }
    60% { -webkit-transform: rotate(-8deg); }
    70% { -webkit-transform: rotate(4deg); }
    75% { -webkit-transform: rotate(4deg); }

    85% { -webkit-transform: rotate(-2deg); }
    86% { -webkit-transform: rotate(-2deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@keyframes myrotate {
    0%  { transform: rotate(-25deg); }
    5%  { transform: rotate(-25deg); }
    35% { transform: rotate(15deg); }
    40% { transform: rotate(15deg); }

    55% { transform: rotate(-8deg); }
    60% { transform: rotate(-8deg); }
    70% { transform: rotate(4deg); }
    75% { transform: rotate(4deg); }

    85% { transform: rotate(-2deg); }
    86% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}


/*子屏*/
.no-bjcolor .leftbox{
    opacity: 0;
    -webkit-transform: translate(150px,0); /*为Chrome/Safari*/
    -moz-transform: translate(150px,0); /*为Firefox*/
    -ms-transform: translate(150px,0); /*为IE*/
    -o-transform: translate(150px,0); /*为Opera*/
    transform: translate(150px,0);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.no-bjcolor dt,
.no-bjcolor h2,
.no-bjcolor h3,
.no-bjcolor p{
    opacity: 0;
    -webkit-transform: translate(-150px,0); /*为Chrome/Safari*/
    -moz-transform: translate(-150px,0); /*为Firefox*/
    -ms-transform: translate(-150px,0); /*为IE*/
    -o-transform: translate(-150px,0); /*为Opera*/
    transform: translate(-150px,0);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.bjcolor dt,
.bjcolor h2,
.bjcolor h3,
.bjcolor p{
    opacity: 0;
    -webkit-transform: translate(200px,0); /*为Chrome/Safari*/
    -moz-transform: translate(200px,0); /*为Firefox*/
    -ms-transform: translate(200px,0); /*为IE*/
    -o-transform: translate(200px,0); /*为Opera*/
    transform: translate(200px,0);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.page-section dt{
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
.page-section h2{
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}
.page-section h3{
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    -ms-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
}
.page-section p{
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    -ms-transition-duration: 1.2s;
    -o-transition-duration: 1.2s;
    transition-duration: 1.2s;
}

.bjcolor .rightbox{
    opacity: 0;
    -webkit-transform: translate(-200px,0); /*为Chrome/Safari*/
    -moz-transform: translate(-200px,0); /*为Firefox*/
    -ms-transform: translate(-200px,0); /*为IE*/
    -o-transform: translate(-200px,0); /*为Opera*/
    transform: translate(-200px,0);

    -webkit-transition: all .3s ease-in-out .2s;
    -moz-transition: all .3s ease-in-out .2s;
    -ms-transition: all .3s ease-in-out .2s;
    -o-transition: all .3s ease-in-out .2s;
    transition: all .3s ease-in-out .2s;
}

.no-bjcolor.is-visible .leftbox,
.page-section.is-visible dt,
.page-section.is-visible h2,
.page-section.is-visible h3,
.page-section.is-visible p,
.bjcolor.is-visible .rightbox{
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

/*=================独立子产品 end=================*/

/*=================工具书类型 start=================*/
/*左侧半圆 start*/
.section-type-left {
    -o-animation: mycircle1 1s ease-in;
    -ms-animation: mycircle1 1s ease-in;
    -moz-animation: mycircle1 1s ease-in;
    -webkit-animation: mycircle1 1s ease-in;
    animation: mycircle1 1s ease-in;
}
@-o-keyframes mycircle1 {
    0% {
        opacity: 0;
        -o-transform: translate(-240px,0);
    }
    70% {
        opacity: .8;
        -o-transform: translate(15px,0);
    }
    100% {
        opacity: 1;
        -o-transform: translate(0,0);
    }
}
@-ms-keyframes mycircle1 {
    0% {
        opacity: 0;
        -ms-transform: translate(-240px,0);
    }
    70% {
        opacity: .8;
        -ms-transform: translate(15px,0);
    }
    100% {
        opacity: 1;
        -ms-transform: translate(0,0);
    }
}
@-moz-keyframes mycircle1 {
    0% {
        opacity: 0;
        -moz-transform: translate(-240px,0);
    }
    70% {
        opacity: .8;
        -moz-transform: translate(15px,0);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0,0);
    }
}
@-webkit-keyframes mycircle1 {
    0% {
        opacity: 0;
        -webkit-transform: translate(-240px,0);
    }
    70% {
        opacity: .8;
        -webkit-transform: translate(15px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
}
@keyframes mycircle1 {
    0% {
        opacity: 0;
        transform: translate(-240px,0);
    }
    70% {
        opacity: .8;
        transform: translate(15px,0);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}
/*左侧半圆 end*/


/*右侧半圆 start*/
.section-type-right {
    -o-animation: mycircle2 1s ease-in;
    -ms-animation: mycircle2 1s ease-in;
    -moz-animation: mycircle2 1s ease-in;
    -webkit-animation: mycircle2 1s ease-in;
    animation: mycircle2 1s ease-in;
}
@-o-keyframes mycircle2 {
    0% {
        opacity: 0;
        -o-transform: translate(240px,0);
    }
    70% {
        opacity: .8;
        -o-transform: translate(-15px,0);
    }
    100% {
        opacity: 1;
        -o-transform: translate(0,0);
    }
}
@-ms-keyframes mycircle2 {
    0% {
        opacity: 0;
        -ms-transform: translate(240px,0);
    }
    70% {
        opacity: .8;
        -ms-transform: translate(-15px,0);
    }
    100% {
        opacity: 1;
        -ms-transform: translate(0,0);
    }
}
@-moz-keyframes mycircle2 {
    0% {
        opacity: 0;
        -moz-transform: translate(240px,0);
    }
    70% {
        opacity: .8;
        -moz-transform: translate(-15px,0);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0,0);
    }
}
@-webkit-keyframes mycircle2 {
    0% {
        opacity: 0;
        -webkit-transform: translate(240px,0);
    }
    70% {
        opacity: .8;
        -webkit-transform: translate(-15px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
}
@keyframes mycircle2 {
    0% {
        opacity: 0;
        transform: translate(240px,0);
    }
    70% {
        opacity: .8;
        transform: translate(-15px,0);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}
/*右侧半圆 end*/
/*按钮 start*/

.section-type-left li{
    -o-animation: mylistA 2s ease-in-out;
    -ms-animation: mylistA 2s ease-in-out;
    -moz-animation: mylistA 2s ease-in-out;
    -webkit-animation: mylistA 2s ease-in-out;
    animation: mylistA 2s ease-in-out;
}
.section-type-right li{
    -o-animation: mylistB 2s ease-in-out;
    -ms-animation: mylistB 2s ease-in-out;
    -moz-animation: mylistB 2s ease-in-out;
    -webkit-animation: mylistB 2s ease-in-out;
    animation: mylistB 2s ease-in-out;
}

.section-type ul li:first-child,
.section-type ul li:nth-child(2){
    -o-animation-duration: 1.3s;
    -ms-animation-duration: 1.3s;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    animation-duration: 1.3s;
}
.section-type ul li:nth-child(3),
.section-type ul li:nth-child(4){
    -o-animation-duration: 1.4s;
    -ms-animation-duration: 1.4s;
    -moz-animation-duration: 1.4s;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}
.section-type ul li:nth-child(5),
.section-type ul li:nth-child(6){
    -o-animation-duration: 1.6s;
    -ms-animation-duration: 1.6s;
    -moz-animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    animation-duration: 1.6s;
}
.section-type ul li:nth-child(7){
    -o-animation-duration: 1.9s;
    -ms-animation-duration: 1.9s;
    -moz-animation-duration: 1.9s;
    -webkit-animation-duration: 1.9s;
    animation-duration: 1.9s;
}

@-o-keyframes mylistA {
    0%,
    50% {
         opacity: 0;
        -o-transform: translate(50px,0);
    }
    100% {
        opacity: 1;
        -o-transform: translate(0,0);
    }
}
@-ms-keyframes mylistA {
    0%,
    50% {
        opacity: 0;
        -ms-transform: translate(50px,0);
    }
    100% {
        opacity: 1;
        -ms-transform: translate(0,0);
    }
}
@-moz-keyframes mylistA {
    0%,
    50% {
        opacity: 0;
        -moz-transform: translate(50px,0);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0,0);
    }
}
@-webkit-keyframes mylistA {
    0%,
    50% {
        opacity: 0;
        -webkit-transform: translate(50px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
}
@keyframes mylistA {
    0%,
    50% {
        opacity: 0;
        transform: translate(50px,0);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}

@-o-keyframes mylistB {
    0%,
    50% {
        opacity: 0;
        -o-transform: translate(-50px,0);
    }
    100% {
        opacity: 1;
        -o-transform: translate(0,0);
    }
}
@-ms-keyframes mylistB {
    0%,
    50% {
        opacity: 0;
        -ms-transform: translate(-50px,0);
    }
    100% {
        opacity: 1;
        -ms-transform: translate(0,0);
    }
}
@-moz-keyframes mylistB {
    0%,
    50% {
        opacity: 0;
        -moz-transform: translate(-50px,0);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0,0);
    }
}
@-webkit-keyframes mylistB {
    0%,
    50% {
        opacity: 0;
        -webkit-transform: translate(-50px,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0,0);
    }
}
@keyframes mylistB {
    0%,
    50% {
        opacity: 0;
        transform: translate(-50px,0);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}
.section-type li>a{ transition: font-size .2s; }
/*按钮 end*/
/*=================工具书类型 end=================*/